{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% trans "BLoom: Administrar clientes" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'proyecto/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% trans "Administrar clientes" %}</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-striped" id="tabla_clientes">
                            <thead >
                            <tr>
                                {% if user.is_superuser %}<th class="active">{% trans "Superusuario" %}</th>{% endif %}
                                <th class="active">{% trans "Imagen" %}</th>
                                <th class="active">{% trans "Nombre del cliente" %}</th>
                                <th class="active">{% trans "Teléfono" %}</th>
                                <th class="active">{% trans "Email" %}</th>
                                <th class="active">{% trans "Usuario" %}</th>
                                <th class="active">{% trans "Estado" %}</th>
                                <th class="active">{% trans "Acción" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in clientes%}
                                <tr class="custom-tr">
                                    {% if user.is_superuser %}
                                    <td style="width: 50px" class="vertical-td">
                                        <input onchange="cli_cambiar_superusuario('{% url "dashboard_app:url_superusuario_cliente" %}?id={{ c.id }}', this)" type="checkbox" {% if c.is_superuser %}checked{% endif %} data-toggle="toggle" data-on="Si" data-off="No" />
                                    </td>
                                    {% endif %}
                                    <td align="center">
                                        <img src="{% if c.us_avatar %}
                                            {{ c.us_avatar.url }}
                                        {% else %}{% static 'proyecto/img/sin-imagen-user.png' %}{% endif %}" style="width: 80px;" />
                                    </td>
                                    <td class="vertical-td">{{ c.us_nombre }} {{ c.us_apellidos }} <strong>{% if c.id == user.id %} ({% trans "Yo" %}){% endif %}</strong></td>
                                    <td class="vertical-td" style="font-size: 17px"><span class="label label-success">{{ c.us_telefono_movil }}</span></td>
                                    <td class="vertical-td"> <a href="mailto:#">{{ c.email }}</a></td>
                                    <td class="vertical-td">{{ c.username }}</td>
                                    <td class="vertical-td">{% if c.is_active%}<span style="font-size: 13px" class="label label-primary">{% trans "Activo" %}</span>{% else %}<span style="font-size: 13px" class="label label-danger">
                                        {% trans "Inactivo" %}</span>{% endif %}</td>
                                    <td class="vertical-td">
                                        <div class="btn-group">
                                            <a href="{% url 'dashboard_app:url_form_editar_cliente' id_cli=c.id %}" class="btn bg-navy btn-xs" title="{% trans 'Editar' %}"><i class="glyphicon glyphicon-edit"></i></a>
                                            {% if c.is_active %}
                                            <button class="btn btn-danger btn-xs" title="{% trans 'Eliminar' %}" onclick="prod_eliminar_objetos('{% url "dashboard_app:url_eliminar_clientes" %}?id={{ c.id }}', 'CL', 'tabla_clientes', this)"><i class="fa fa-trash-o"></i></button>
                                            {% else %}
                                            <button class="btn btn-success btn-xs" title="{% trans 'Activar' %}" onclick="cli_activar_usuario('{% url "dashboard_app:url_activar_clientes" %}?id={{ c.id }}', this)"><i class="fa fa-exchange"></i></button>
                                            {% endif %}
                                            <button class="btn btn-warning btn-xs" title="{% trans 'Cambiar contraseña' %}" onclick="cli_modal_cambiar_clave({{ c.id }})"><i class="fa fa-key"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Modal ecambiar clave-->
    <div class="modal fade" id="modal_cambiar_clave" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="font-weight: 600;">{% trans "Cambio de contraseña" %}</h4>
                </div>
                <div class="modal-body">
                    <form role="form" enctype="multipart/form-data" id="formulario_cambio_clave" name="formulario_cambio_clave" method="post" onsubmit="return false">{% csrf_token %}
                        <div class="box-body">
                            <!-- Contraseña actual -->
                            {% trans "Contraseña actual" as i18n_clave_actual %}
                            <div class="form-group">
                                <label>{{ i18n_clave_actual }} <span class="required">*</span></label>
                                <input type="password" id="cli_clave_actual" name="cli_clave_actual" placeholder="{{ i18n_clave_actual }}" class="form-control">
                            </div>
                            <!-- Contraseña nueva 1 -->
                            {% trans "Nueva contraseña" as i18n_clave_nueva1 %}
                            <div class="form-group">
                                <label>{{ i18n_clave_nueva1 }} <span class="required">*</span></label>
                                <input type="password" id="cli_clave_nueva1" name="cli_clave_nueva1" placeholder="{{ i18n_clave_nueva1 }}" class="form-control">
                            </div>
                            <!-- Contraseña nueva 2-->
                            {% trans "Repita la contraseña" as i18n_clave_nueva2 %}
                            <div class="form-group">
                                <label>{{ i18n_clave_nueva2 }} <span class="required">*</span></label>
                                <input type="password" id="cli_clave_nueva2" name="cli_clave_nueva2" placeholder="{{ i18n_clave_nueva2 }}" class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{% trans "Cancelar" %}</button>
                            <button type="submit" onclick="cli_cambiar_clave('{% url "dashboard_app:url_cambio_clave_cliente" %}')" class="btn bg-olive">{% trans "Cambiar contraseña" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_clientes').addClass("active");
            $('#menu_clientes_administrar').addClass("active");
            $('#menu_clientes_administrar').children('a').removeAttr('href');

            var table = $('#tabla_clientes').DataTable( {
                pageLength: 20,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',
                        exportOptions: {columns: ':visible'}
                    },
                    {
                        extend: 'excel',
                        exportOptions: {columns: ':visible'},
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {columns: ':visible'},
                    },
                    {
                        extend: 'copy',
                        exportOptions: {columns: ':visible'},
                    },
                    'colvis'
                ]
            });

            table.buttons().container().appendTo('#tabla_clientes_wrapper .col-sm-6:eq(0)');
        });
    </script>
{% endblock scripts %}