{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% if not proveedor_editar %}{% trans "BLoom: Crear un nuevo cliente" %}{% else %}{% trans "proyecto: Editar cliente" %}{% endif %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% if not proveedor_editar %}{% trans "Crear un nuevo cliente" %}{% else %}{% trans "Editar cliente" %}{% endif %}</h3>
                    </div>
                    <form role="form" enctype="multipart/form-data" id="formulario_agregar_cliente" name="formulario_agregar_cliente" onsubmit="return false;" method="post">{% csrf_token %}
                        {% if cliente_editar %}
                            <br />
                            <div align="center"><a href="{% url 'dashboard_app:url_listar_clientes' %}" class="btn bg-green" >
                                <i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans "Regresar a la lista de clientes" %}</a>
                            </div>
                            <br/>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                <div class="box-body">
                                    <!-- Usuario y contrasena -->
                                    <div class="row">
                                        {% trans "Usuario" as i18n_cliente_usuario %}
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>{{ i18n_cliente_usuario }} <span class="required">*</span></label>
                                                <input type="text" id="cliente_usuario" name="cliente_usuario" placeholder="{{ i18n_cliente_usuario }}" value="{{ cliente_editar.0.username}}" class="form-control" maxlength="100" required>
                                            </div>
                                        </div>
                                        {% trans "Contraseña" as i18n_cliente_contrasena %}
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>{{ i18n_cliente_contrasena }} <span class="required">*</span></label>
                                                {% if cliente_editar.0.password != 1%}
                                                <input type="password" id="cliente_contrasena" name="cliente_contrasena" placeholder="{{ i18n_cliente_contrasena }}" value="{{ cliente_editar.0.password }}" class="form-control" maxlength="10" required>
                                                {% else %}
                                                <h4>{% trans "Cambiarla en Adm. usuarios " %} <i class="fa fa-key"></i></h4>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Nombre -->
                                    {% trans "Nombre" as i18n_cliente_nombre %}
                                    <div class="form-group">
                                        <label>{{ i18n_cliente_nombre }} <span class="required">*</span></label>
                                        <input type="text" id="cliente_nombre" name="cliente_nombre" placeholder="{{ i18n_cliente_nombre }}" value="{{ cliente_editar.0.us_nombre}}" class="form-control" maxlength="100" required>
                                    </div>
                                    <!-- Apellido -->
                                    {% trans "Apellido" as i18n_cliente_apellido %}
                                    <div class="form-group">
                                        <label>{{ i18n_cliente_apellido }} <span class="required">*</span></label>
                                        <input type="text" id="cliente_apellido" name="cliente_apellido" placeholder="{{ i18n_cliente_apellido }}" value="{{ cliente_editar.0.us_apellidos}}" class="form-control" maxlength="100" required>
                                    </div>
                                    <!-- Email -->
                                    {% trans "Correo electrónico" as i18n_cliente_email %}
                                    <div class="form-group">
                                        <label>{{ i18n_cliente_email }} <span class="required">*</span></label>
                                        <input type="text" id="cliente_email" name="cliente_email" placeholder="{{ i18n_cliente_email }}" value="{{ cliente_editar.0.email}}" class="form-control" maxlength="254" required>
                                    </div>
                                    <!-- Telefono/Celular -->
                                    {% trans "Teléfono o celular" as i18n_cliente_telefono %}
                                    <div class="form-group">
                                        <label>{{ i18n_cliente_telefono }} <span class="required">*</span></label>
                                        <input type="text" id="cliente_telefono" name="cliente_telefono" placeholder="{{ i18n_cliente_telefono }}" value="{{ cliente_editar.0.us_telefono_movil}}" class="form-control" maxlength="10" required>
                                    </div>
                                    <!-- Avatar actual -->
                                    <div class="hide form-group">
                                        <label>{% trans "Imagen" %}</label>
                                    </div>
                                    {% if cliente_editar.us_avatar %}
                                    <div class="form-group hide" align="center" id="avatar_usuario_actual">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <table border="0">
                                                <tr>
                                                    <td><div class="fileinput-new thumbnail g-logo-img"><img src="{{ cliente_editar.0.us_avatar }}"></div></td>
                                                </tr>
                                                <tr>
                                                    <td><button onclick="cambiar_logo()" id="btn_cambiar_avatar" class="btn btn-block bg-navy">{% trans "Cambiar imagen" %}</button></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    {% endif %}
                                     <!-- Avatar nuevo -->
                                    <div align="center" class="hide form-group" id="avatar_usuario_nuevo" {% if cliente_editar.us_avatar %}style="display: none"{% endif %}>
                                        {% if cliente_editar.0.us_avatar %}
                                        <table border="0">
                                            <tr><td><button onclick="restablecer_logo()" id="btn_restablecer_avatar" class="btn btn-block bg-navy">{% trans "Restablecer imagen" %}</button></td></tr>
                                        </table>
                                        <br>
                                        {% endif %}
                                        <input id="id_avatar_usuario" name="id_avatar_usuario" class="file" accept="image/*" type="file">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer" align="center">
                            <button onclick="cli_agregar_cliente('{% url "dashboard_app:url_agregar_cliente" %}', '{{ cliente_editar.0.id }}')" id="btn_clientes_agregar" class="btn bg-light-blue" type="submit">{% trans "Guardar cambios" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_clientes').addClass("active");
            $('#menu_clientes_agregar').addClass("active");
            $('#menu_clientes_agregar').children('a').removeAttr('href');
        });

        //Subida de magen
        $("#id_avatar_usuario").fileinput({
            allowedFileExtensions: ["jpg", "jpeg", "png", "gif"],
            removeLabel: "{% trans 'Eliminar' %}",
            browseLabel: "{% trans 'Buscar...' %}",
            maxFileSize: 1024,
            minFileCount: 0,
            maxFileCount: 1,
            showUpload: false
        });

        function cambiar_logo() {
            $("#avatar_usuario_actual").hide();
            $("#avatar_usuario_nuevo").show();
        }

        function restablecer_logo() {
            $("#avatar_usuario_actual").show();
            $("#avatar_usuario_nuevo").hide();
        }
    </script>
{% endblock scripts %}