{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load funciones %}

{% block titulo %}{% trans "Bloom: Detalle del pedido" %}{% endblock titulo %}
{% block estilos %}
    <link href="{% static 'proyecto/dashboard/css/detalle_pedido.css' %}" rel="stylesheet" type="text/css" />
{% endblock estilos %}

{% block contenido %}
    <div class="box box-primary">
        <div class="box-header box-header-background with-border">
            {% if ruta %}
                <a href="{{ ruta }}" style="color: #ffffff" title="{% trans 'Regresar' %}"><i class="fa fa-chevron-left fa-lg"></i></a>
            {% endif %}
            <h3 class="box-title">{% trans "Detalle del pedido" %}</h3>
            <div class="box-tools pull-right">
                <div class="box-tools">
                    <div class="btn-group" role="group">
                        <a onclick="print_invoice('ped_detalle_impresion')" style="height: 30px" class="btn btn-default ">{% trans "Imprimir" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div id="ped_detalle_impresion">
                <div class="row ">
                    <div class="col-md-10 col-md-offset-1">
                        <header class="clearfix">
                            <img width="130px" src="/static/assets/img/spa.png" title="NGRNetwork">
                            <div id="invoice">
                                <h3 style="color: #00a7d0">PED-{{ detalle.0.ped_id }}</h3>
                                <div class="date">{% trans "Fecha del pedido" %}: {{ detalle.0.ped_fecha_pedido|date:"j M Y" }}</div>
                                <div class="date">{% trans "Cliente" %}: {{ detalle.0.cliente }}</div>
                                <div class="date">{% trans "Estado del pedido" %}:
                                    <span class="label label-{% if detalle.0.ped_estado == 'cancelado' %}danger{% elif detalle.0.ped_estado == 'verificacion' %}primary{% elif detalle.0.ped_estado == 'enviado' %}{{ detalle.0.ped_estado }}{% else %}warning{% endif %}">{{ detalle.0.ped_estado|capfirst }}</span>
                                </div>
                            </div>
                        </header>
                        <hr>
                        <main>
                            <table border="0" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <th class="no text-right">#</th>
                                        <th class="desc">{% trans "DESCRIPCIÓN" %}</th>
                                        <th class="unit text-right">{% trans "PRECIO UNIT" %}.</th>
                                        <th class="qty text-right">{% trans "CANT" %}.</th>
                                        <th class="qty text-right">{% trans "DESC" %}.</th>
                                        <th class="total text-right ">{% trans "TOTAL" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in items %}
                                    <tr>
                                        <td class="no">{{ forloop.counter }}</td>
                                        <td class="desc"><h3>{{ i.pro_nombre }}</h3></td>
                                        <td class="unit">{{ i.precio_unit|unlocalize }}</td>
                                        <td class="qty">{{ i.cantidad }}</td>
                                        <td class="qty">{{ i.descuento|unlocalize }}</td>
                                        <td class="total">{{ i.total_pagar|unlocalize }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td colspan="2">{% trans "TOTAL " %}</td>
                                        <td>$ {{ detalle.0.ped_total_pagar|unlocalize }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </main>
                        <hr>
                        <div class="text-center">
                            Machala, EL Oro, Ecuador
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
    $(document).ready(function() {
            $('#menu_pedidos').addClass("active");
            $('#menu_pedidos_administrar').addClass("active");
            $('#menu_pedidos_administrar').children('a').removeAttr('href');
    });
    </script>
{% endblock scripts %}