<!DOCTYPE html>
<html>
	<head>
		<title>NGRNetwork</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="/static/assets/img/spa.png">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/assets/style/bootstrap.min.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/assets/style/icon.css">
		<link rel="stylesheet" href="/static/assets/style/loader.css">
		<link rel="stylesheet" href="/static/assets/style/idangerous.swiper.css">
		<link rel="stylesheet" href="/static/assets/style/stylesheet.css">
		<script type="text/javascript" language="javascript" src="/static/assets/alertifyjs/js/alertify.min.js"></script>
    	<link href="/static/assets/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    	<link rel="stylesheet" href="/static/assets/scss/shop.css" rel="stylesheet">
    	<link rel="stylesheet" href="/static/assets/sweetAlert/sweetalert.css" rel="stylesheet">
		{% block css %}	{% endblock %}

		<!--[if lt IE 10]>
			<link rel="stylesheet" type="text/css" href="/static/assets/ie-9.css" />
		<![endif]-->
		<!--[if lt IE 9]>
		    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->

	</head>
	<body>

	<!-- THE LOADER -->

	<div class="be-loader">
	    	<div class="spinner">
				<div class="spinner-container container1">
			    <div class="circle1"></div>
			    <div class="circle2"></div>
			    <div class="circle3"></div>
			    <div class="circle4"></div>
				</div>
			  	<div class="spinner-container container2">
			    <div class="circle1"></div>
			    <div class="circle2"></div>
			    <div class="circle3"></div>
			    <div class="circle4"></div>
			  	</div>
			  	<div class="spinner-container container3">
			    <div class="circle1"></div>
			    <div class="circle2"></div>
			    <div class="circle3"></div>
			    <div class="circle4"></div>
  				</div>
			</div>
	    </div>
	{% block header %}
	<!-- THE HEADER -->
	<header>
		<div class="container-fluid custom-container">
			<div class="row no_row row-header">
				<div class="brand-be">
					<a href="/"><img src="/static/assets/img/spa.png" alt="logo" class="be_logo">
					</a>
				</div>
				{% if user.is_authenticated %}
					{% if user.is_superuser %}
				<div class="header-menu-block">
					<button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
					<ul class="header-menu" id="one">
						<li class="active-header"><a href="/">PRODUCTOS</a><i class="fa fa-angle-down"></i>
							<ul>
								<li>
									<a href="/productos/">Gestión de Productos</a>
								</li>
								<li><a href="/categorias/">Gestión de Categorías</a></li>
							</ul>
						</li>
						<li><a href="">USUARIOS</a><i class="fa fa-angle-down"></i>
							<ul>
								<li>
									<a href="/users/perfil/">Mi Perfil</a>
								</li>
							</ul>
						</li>
						<li><a href="">CLIENTES</a><i class="fa fa-angle-down"></i>
							<ul>
								<li><a href="/clientes/">Gestión de Clientes</a></li>
							</ul>
						</li>
						<li><a href="">REPORTES</a><i class="fa fa-angle-down"></i>
						</li>
					</ul>
				</div>
					{% else %}
					<div class="header-menu-block">
						<button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
						<ul class="header-menu" id="one">
							<li class="active-header"><a href="/">PRODUCTOS</a><i class="fa fa-angle-down"></i></li>
							<li><a href="/compras//ver_carrito/">SHOP</a><i class="fa fa-angle-down"></i>
							</li>
						</ul>
					</div>
					{% endif %}
				{% else %}
					<div class="header-menu-block">
						<ul class="header-menu" id="one">
								<li class="active-header"><a href="/">PRODUCTOS</a><i class="fa fa-angle-down"></i></li>
								<li><a href="/compras/ver_carrito/">SHOP</a><i class="fa fa-angle-down"></i>
								</li>
							</ul>
						</div>
				{% endif %}
				<div class="login-header-block">
					<div class="login_block">
				{% if user.is_authenticated %}
					<div class="be-drop-down login-user-down">
							<img class="login-user" src="/static/assets/img/stat_4.png" alt="">
							<span class="be-dropdown-content">Hola, <span>{{user.username}}</span></span>
							<ul class="drop-down-list">
								<li><a href="/users/cerrarsesion/">Cerrar Sesión</a></li>
							</ul>
						</div>
				{% else %}
					<a class="btn-login btn color-1 size-2 hover-2" href="#"><i class="fa fa-user"></i>
						Iniciar sesión</a>
				{% endif %}
					</div>
				</div>
			</div>
		</div>
	</header>
	{% endblock %}
	{% block content %}
	<div id="content-block">
		<div class="container-fluid custom-container">
			<div class="row">

			</div>
		</div><br>
		<div class="container-fluid custom-container">
			<div class="row">

				<div class="col-md-2 left-feild">
					<div class="be-vidget">
						<h3 class="letf-menu-article">
							Categorías
						</h3>
						<div class="creative_filds_block">
							<div class="ul">
								{% for i in categoria %}
									<a href="{% url 'URLportal:URLcategoria' i.id %}">{{ i.nombre }}</a>
									{% empty %}
									<a href="/">No existen categorias</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-10">
					<div class="row _post-container_">
						{% for i in ultimosProductos %}
							<div class="custom-column-5">
								<div class="be-post">
									<a href="blog-detail-2.html" class="be-img-block">
									<img src="{{ i.imagen.url }}" alt="omg">
									</a>
									<a href="blog-detail-2.html" class="be-post-title">{{ i.nombre }}</a>
									<span>
										<i class="fa fa-clock-o"><a href="#" class="be-post-tag">   {{ i.fecha_ingreso }}</a></i>,
										<a href="#" class="be-post-tag">{{ i.modelo}}</a>
									</span>
									{% if i.ofertaMensaje %}
									<div class="author-post">
											<span><a href="blog-detail-2.html">{{ i.ofertaMensaje }}</a></span>
									</div>
									{% endif %}
									<div class="info-block">
										<div class="stat-number">
										<img src="/static/assets/img/money (1).png" alt=""> {{i.precio_venta}}
										<a data-toggle="modal" data-target="#modalIngresoCarrito" data-id="{{i.id}}" data-nombre="{{i.nombre}}" data-img="{{i.imagen.url}}" data-cantidad="{{i.stock}}" data-precio="{{i.precio_venta}}"class="featured_ico_link view_link"><img src="/static/assets/img/cart3.png" alt=""></a>
									</div>
								</div>
							</div>
						{% endfor %}

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	{% endblock %}
	<div id="modalIngresoCarrito" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <div id="prod_imagen" class="img_block wrapped_img">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 shop_list_info">
                    <h2 id="prod_titulo" align="center" class="product_title"></h2>
                    <div id="prod_precio" align="center" class="product_title"></div>
                    <div  align="center" class="product_meta">
                        <span class="posted_in"><span>Cantidad disponible:</span>
                            <spam id="prod_cantidad"></span>
                        </span>
                    </div>
                    <div  align="center" class="product_btns">
                        <div class="product_quantity">
                            <form class="cart" method="post" action="javascript:void(0);">
                                <div id="botonesMas_Menos" class="quantity">

                                </div>
                                <input id="txt_cantidad1" class="hide" type="text" value="1">
                                <div class="clear"></div>
                            </form>
                            <input type="number" id="ctp" class="hide" disabled value="{{producto.pro_stock}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="contenedorBotones">
                    </div>
                </div>
            </div>
            <button type="button" class="close_popup" data-dismiss="modal"><i class="icon-times"></i></button>
        </div>
    </div>
	</div>
	<!-- THE FOOTER -->
	<footer>
		<div class="footer_slider">
			<div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="4" data-sm-slides="8" data-md-slides="14" data-lg-slides="19" data-add-slides="19">
	            <div class="swiper-wrapper">
	            	<div class="swiper-slide active" data-val="0">
	            		 <img class="img-responsive img-full" src="img/f1.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="1">
	            		 <img class="img-responsive img-full" src="img/f2.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="2">
	            		 <img class="img-responsive img-full" src="img/f3.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="3">
	            		 <img class="img-responsive img-full" src="img/f4.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="4">
	            		 <img class="img-responsive img-full" src="img/f5.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="5">
	            		 <img class="img-responsive img-full" src="img/f6.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="6">
	            		 <img class="img-responsive img-full" src="img/f7.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="7">
	            		 <img class="img-responsive img-full" src="img/f8.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="8">
	            		 <img class="img-responsive img-full" src="img/f9.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="9">
	            		 <img class="img-responsive img-full" src="img/f10.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="10">
	            		 <img class="img-responsive img-full" src="img/f11.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="11">
	            		 <img class="img-responsive img-full" src="img/f12.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="12">
	            		 <img class="img-responsive img-full" src="img/f13.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="13">
	            		 <img class="img-responsive img-full" src="img/f14.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="14">
	            		 <img class="img-responsive img-full" src="img/f15.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="15">
	            		 <img class="img-responsive img-full" src="img/f16.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="16">
	            		 <img class="img-responsive img-full" src="img/f17.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="17">
	            		 <img class="img-responsive img-full" src="img/f18.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="18">
	            		 <img class="img-responsive img-full" src="img/f19.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="19">
	            		 <img class="img-responsive img-full" src="img/f1.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="20">
	            		 <img class="img-responsive img-full" src="img/f2.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="21">
	            		 <img class="img-responsive img-full" src="img/f3.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="22">
	            		 <img class="img-responsive img-full" src="img/f4.jpg" alt="">
	            	</div>
	            	<div class="swiper-slide" data-val="23">
	            		 <img class="img-responsive img-full" src="img/f5.jpg" alt="">
	            	</div>
	            </div>
	            <div class="pagination hidden"></div>
	        </div>
        </div>
		<div class="footer-main">
			<div class="container-fluid custom-container">
				<div class="row">
					<div class="col-md-3 col-xl-4">
						<div class="footer-block">
							<h1 class="footer-title">About Us</h1>
							<p>Vestibulum tincidunt, augue fermentum accumsan viverra, eros dui rutrum libero, nec imperdiet felis sem in augue luctus <a href="blog-detail-2.html">diam a porta</a> iaculis. Vivamus sit amet fermentum nisl. Duis id <a href="blog-detail-2.html">massa id purus</a> tristique varius a sit amet est. Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc.</p>
							<ul class="soc_buttons">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								<li><a href=""><i class="fa fa-pinterest-p"></i></a></li>
								<li><a href=""><i class="fa fa-instagram"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-xl-2">
						<div class="footer-block">
							<h1 class="footer-title">Some Links</h1>
							<div class="row footer-list-footer">
								<div class="col-md-6">
								<ul class="link-list">
									<li><a href="blog-detail-2.html">About Us</a></li>
									<li><a href="blog-detail-2.html">Help</a></li>
									<li><a href="blog-detail-2.html">Contacts</a></li>
									<li><a href="blog-detail-2.html">Job</a></li>
									<li><a href="blog-detail-2.html">Projets</a></li>
								</ul></div>
								<div class="col-md-6">
								<ul class="link-list">
									<li><a href="blog-detail-2.html">New Works</a></li>
									<li><a href="blog-detail-2.html">Popular Authors</a></li>
									<li><a href="blog-detail-2.html">New Authors</a></li>
									<li><a href="blog-detail-2.html">Career</a></li>
									<li><a href="blog-detail-2.html">FAQ</a></li>
								</ul></div>
							</div>
						</div>
					</div>
					<div class="col-md-3 galerry">
						<div class="footer-block">
							<h1 class="footer-title">Recent Works</h1>
							<a href="blog-detail-2.html"><img src="img/g1.jpg" alt=""></a>
							<a href="blog-detail-2.html"><img src="img/g2.jpg" alt=""></a>
							<a href="blog-detail-2.html"><img src="img/g3.jpg" alt=""></a>
							<a href="blog-detail-2.html"><img src="img/g4.jpg" alt=""></a>
							<a href="blog-detail-2.html"><img src="img/g5.jpg" alt=""></a>
							<a href="blog-detail-2.html"><img src="img/g6.jpg" alt=""></a>
							<a href="blog-detail-2.html"><img src="img/g7.jpg" alt=""></a>
							<a href="blog-detail-2.html"><img src="img/g8.jpg" alt=""></a>
							<a href="blog-detail-2.html"><img src="img/g9.jpg" alt=""></a>
							<a href="blog-detail-2.html"><img src="img/g10.jpg" alt=""></a>
							<a href="blog-detail-2.html"><img src="img/g11.jpg" alt=""></a>
							<a href="blog-detail-2.html"><img src="img/g12.jpg" alt=""></a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="footer-block">
							<h1 class="footer-title">Subscribe On Our News</h1>
							<form action="./" class="subscribe-form">
								<input type="text" placeholder="Yout Name" required>
								<div class="submit-block">
									<i class="fa fa-envelope-o"></i>
									<input type="submit" value="">
								</div>
							</form>
							<div class="soc-activity">
								<div class="soc_ico_triangle">
									<i class="fa fa-twitter"></i>
								</div>
								<div class="message-soc">
									<div class="date">16h ago</div>
									<a href="blog-detail-2.html" class="account">@faq</a> vestibulum accumsan est <a href="blog-detail-2.html" class="heshtag">blog-detail-2.htmlmalesuada</a> sem auctor, eu aliquet nisi ornare leo sit amet varius egestas.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container-fluid custom-container">
				<div class="col-md-12 footer-end clearfix">
					<div class="left">
						<span class="copy">© 2015. All rights reserved. <span class="white"><a href="blog-detail-2.html"> NRGNetwork</a></span></span>
						<span class="created">Created with LOVE by <span class="white"><a href="blog-detail-2.html"> NRGThemes</a></span></span>
					</div>
					<div class="right">
						<a class="btn color-7 size-2 hover-9">About Us</a>
						<a class="btn color-7 size-2 hover-9">Help</a>
						<a class="btn color-7 size-2 hover-9">Privacy Policy</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="be-fixed-filter"></div>

	<div class="large-popup login">
		<div class="large-popup-fixed"></div>
		<div class="container large-popup-container">
			<div class="row">
				<div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-times close-button"></i>
							<h5 class="large-popup-title">Inicio de Sesión</h5>
						</div>
						<form class="col l12 s12 m12" action="/users/login/" class="popup-input-search" method="post">{% csrf_token %}
						<div class="col-md-6">
							<input class="input-signtype" id="txtUsuario" name="txtUsuario" type="text" required="" placeholder="Your email">
						</div>
						<div class="col-md-6">
							<input class="input-signtype" id="txtPassword" name="txtPassword" type="password" required="" placeholder="Password">
						</div>
						<div class="col-xs-6 for-signin">
							<input type="submit" class="be-popup-sign-button" value="INICIAR">
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- SCRIPTS	 -->
	<script src="/static/assets/script/jquery.min.js"></script>
	<script src="/static/assets/script/bootstrap.min.js"></script>
	<script src="/static/assets/script/idangerous.swiper.min.js"></script>
	<script src="/static/assets/script/isotope.pkgd.min.js"></script>
	<script src="/static/assets/script/jquery.viewportchecker.min.js"></script>
	<script src="/static/assets/script/global.js"></script>
    <script src="/static/assets/sweetAlert/sweetalert.min.js"></script>
	<script>
    $(document).ready(function () {
        var navListItems = $('div.setup-panel div a'),
        allWells = $('.setup-content'),
        allNextBtn = $('.nextBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
            $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function(){
            var curStep = $(this).closest(".setup-content"),
            curStepBtn = curStep.attr("id"),
            nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
            curInputs = curStep.find("input[type='text'],input[type='url']"),
            isValid = true;

            $(".form-group").removeClass("has-error");
            for(var i=0; i<curInputs.length; i++){
                if (!curInputs[i].validity.valid){
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            $("#txt_desc_ciudad").empty();
            $("#txt_desc_direccion").empty();
            $("#txt_desc_codigo").empty();
            $("#txt_envio").empty();

            $("#txt_desc_ciudad").append($("#txt_ciudad").val());
            $("#txt_desc_direccion").append($("#txt_direccion").val());
            $("#txt_desc_codigo").append($("#txt_cod").val());
            $("#txt_envio").append($("#select_empresa option:selected").html());

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-primary').trigger('click');
    });
	var dataCars = localStorage.getItem("dataCars");
	var subtotal = localStorage.getItem("subtotal");
	dataCars = JSON.parse(dataCars);

	if(dataCars == null)
    	dataCars = [];

	actualizarLista();
	function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;

	}

function AddCar(id, precio){
    var cantidad = $("#txtCantidad").val();
    var total = parseFloat(precio.replace(',','.')) * parseInt(cantidad);
    swal({
        title: "Confirmar acción",
        text: "Desea agregar <b>"+cantidad+"</b> "+$("#txtNombre").text()+" al carrito por un valor de: <b>$"+total+"</b>?",
        type: "info",
        showCancelButton: true,
        confirmButtonColor: "#22a1c4",
        confirmButtonText: "Si, por favor",
        cancelButtonText: "No, me equivoque!",
        closeOnConfirm: true,
        closeOnCancel: true,
        html: true
    },
    function(isConfirm){
        if (isConfirm) {
            resp = revisar_si_existe(id);
            if(resp!=null){
                var nueva_cant = parseFloat(cantidad) + parseFloat(resp.cantidad_prod);
                dataCars.splice(resp.indice_prod,1);
                var car = JSON.stringify({
                    ID    : id ,
                    Nombre  : $("#txtNombre").text() ,
                    Precio : parseFloat(precio.replace(',','.')),
                    Cantidad : parseFloat(cantidad) + parseFloat(resp.cantidad_prod),
                    Total : parseFloat(precio.replace(',','.')) * parseInt(nueva_cant),
                    Imagen : $("#largeImage").attr('src')
                });
            }else{
                var car = JSON.stringify({
                    ID    : id ,
                    Nombre  : $("#txtNombre").text() ,
                    Precio : parseFloat(precio.replace(',','.')),
                    Cantidad : cantidad,
                    Total : total,
                    Imagen : $("#largeImage").attr('src')
                });
            }
            dataCars.push(car);
            localStorage.setItem("dataCars", JSON.stringify(dataCars));
            actualizarLista();
        }
    });
}

function AddCarModal(id,precio,nombre,imagen){
    var cantidad = $("#txt_cantidad1").val();
    var total = parseFloat(precio.replace(',','.')) * parseInt(cantidad);
    swal({
        title: "Confirmar acción",
        text: "Desea agregar <b>"+cantidad+"</b> "+nombre+" al carrito por un valor de: <b>$"+total+"</b>?",
        type: "info",
        showCancelButton: true,
        confirmButtonColor: "#22a1c4",
        confirmButtonText: "Si, por favor",
        cancelButtonText: "No, me equivoque!",
        closeOnConfirm: true,
        closeOnCancel: true,
        html: true
    },
    function(isConfirm){
        if (isConfirm) {
            resp = revisar_si_existe(id);
            if(resp!=null){
                var nueva_cant = parseFloat(cantidad) + parseFloat(resp.cantidad_prod);
                dataCars.splice(resp.indice_prod,1);
                var car = JSON.stringify({
                    ID    : id ,
                    Nombre  : nombre,
                    Precio : parseFloat(precio.replace(',','.')),
                    Cantidad : nueva_cant,
                    Total : parseFloat(precio.replace(',','.')) * parseInt(nueva_cant),
                    Imagen : imagen
                });
            }else{
                var car = JSON.stringify({
                    ID    : id ,
                    Nombre  : nombre,
                    Precio : parseFloat(precio.replace(',','.')),
                    Cantidad : cantidad,
                    Total : total,
                    Imagen : imagen
                });
            }
            dataCars.push(car);
            localStorage.setItem("dataCars", JSON.stringify(dataCars));
            actualizarLista();
        }
    });
}

function revisar_si_existe(id){
    var respuesta = null;
    for (var i = 0; i < dataCars.length; i++) {
        datos = JSON.parse(dataCars[i]);
        if(datos.ID === id){
            data = {
                "id_prod" : datos.ID,
                "cantidad_prod" : datos.Cantidad,
                'indice_prod' : i,
            }
            respuesta = data;
            break;
        }else{
            continue;
        }
    }
    return respuesta;
}

function actualizarLista(){
    $("#listaProductos").empty();
    if(dataCars.length > 0){
        for (var i = dataCars.length - 1; i >= 0; i--) {
            datos = JSON.parse(dataCars[i]);
            $("#listaProductos").append('<li>'+
                '<img src="'+datos.Imagen+'" alt="" />'+
                '<a href="/shop/producto_detalle/'+datos.ID+'" class="title">'+datos.Nombre+'</a>'+
                '<div class="price">'+datos.Cantidad+'<span>x</span>$'+datos.Precio+'</div>'+
                '</li>');
        }
        var subtotal = actualizar_subtotal();
        $("#subtotal").empty();
        $("#subtotal").append('$'+subtotal);
    }
}

function actualizar_subtotal(){
    var subtotal = 0.0;
    if(dataCars != null){
        for (var i = dataCars.length - 1; i >= 0; i--) {
            datos = JSON.parse(dataCars[i]);
            subtotal = subtotal + datos.Total;
            subtotal = Math.round(subtotal * 100) / 100;
        }
        localStorage.setItem("subtotal", subtotal);
    }
    return subtotal;
}
	$('#modalIngresoCarrito').on('show.bs.modal', function(e) {
    var precioMaster = 0.0;
    var id = $(e.relatedTarget).data('id');
    var nombre = $(e.relatedTarget).data('nombre');
    var imagen = $(e.relatedTarget).data('img');
    var cantidad = $(e.relatedTarget).data('cantidad');
    var precio = $(e.relatedTarget).data('precio');
    $("#prod_titulo").append(nombre);
    $("#prod_cantidad").append(cantidad);
    $("#prod_precio").append("$ "+precio);
    $("#prod_imagen").append('<img class="img-responsive" id="largeImage" src="'+imagen+'"  alt="" />')
    $("#contenedorBotones").append('<div class="col-sm-4 col-xs-6"><a href="/shop/producto_detalle/'+id+'" class="shortcode_button btn_small btn_type5 cart_btn"><i class="icon-puzzle-piece"></i>detalle</a></div>');
    $("#contenedorBotones").append('<div class="col-sm-offset-4 col-sm-4 col-xs-6"><button href="javascript:void(0);" onClick=\'AddCarModal('+id+',"'+precio+'","'+nombre+'","'+imagen+'")\' class="form-control" data-dismiss="modal"><i class="icon-shopping-cart"></i>agregar</button></div>')
    $("#botonesMas_Menos").append('<a class="minus button boton" onClick="sumar_restar(this)" href="javascript:void(0);">-</a>');
    $("#botonesMas_Menos").append('<input id="txt_cantidad" class="input-text qty text" type="number" title="Qty" value="1" name="quantity" min="1" step="1" disabled>');
    $("#botonesMas_Menos").append('<a class="plus button boton" onClick="sumar_restar(this)" href="javascript:void(0);">+</a>');
});
$('#modalIngresoCarrito').on('hidden.bs.modal', function(e) {
    $("#prod_titulo").empty();
    $("#prod_precio").empty();
    $("#prod_cantidad").empty();
    $("#prod_imagen").empty();
    $("#contenedorBotones").empty();
    $("#botonesMas_Menos").empty();
    $("#txt_cantidad1").attr('value','1');
});
function sumar_restar(boton){

    var button = $(boton);
    var oldValue = $("#txt_cantidad").val();
    var cant_max = $("#prod_cantidad").text();

    if (button.text() == "+") {
        if(oldValue < parseFloat(cant_max)){
            var newVal = parseFloat(oldValue) + 1;
        }else{
            var newVal = parseFloat(oldValue);
        }
    } else {
        if (oldValue > 1) {
            var newVal = parseFloat(oldValue) - 1;
        } else {
            newVal = 1;
        }
    }
    $("#txt_cantidad").val(newVal);
    $("#txt_cantidad1").attr('value',newVal);
}

	</script>
	{% block js %}	{% endblock %}
	</body>
</html>