{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% trans "Bloom: Administrar proveedores" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'proyecto/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% trans "Administrar proveedores" %}</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-striped" id="tabla_proveedores">
                            <thead >
                            <tr>
                                <th class="active">{% trans "Nombre del proveedor" %}</th>
                                <th class="active">{% trans "Contacto" %}</th>
                                <th class="active">{% trans "Teléfonos" %}</th>
                                <th class="active">{% trans "Ubicación" %}</th>
                                <th class="active">{% trans "Sitio web" %}</th>
                                <th class="active">{% trans "Acción" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in proveedores%}
                                <tr class="custom-tr">
                                    <td class="vertical-td">{{ p.prov_nombre }}</td>
                                    <td class="vertical-td">{{ p.prov_contacto }}</td>
                                    <td class="vertical-td" style="font-size: 17px">
                                        <span class="label label-success">{{ p.prov_telefono }}</span>&nbsp;&nbsp;
                                        <span class="label label-success">{{ p.prov_cel }}</span>
                                    </td>
                                    <td class="vertical-td">{{ p.prov_ciudad }}, {{ p.prov_pais }}</td>
                                    <td class="vertical-td">{% if p.prov_home_page %}<a target="_blank" href="http://{{ p.prov_home_page }}">{{ p.prov_home_page }}</a>{% else %}{% trans "No posee" %}{% endif %}</td>
                                    <td class="vertical-td">
                                        <div class="btn-group">
                                            <a href="#" class="btn btn-primary btn-xs" title="{% trans 'Ver' %}" data-toggle="modal" data-target="#modal_detalle_producto"><i class="glyphicon glyphicon-search"></i></a>
                                            <a href="{% url 'dashboard_app:url_form_editar_proveedor' id_prov=p.prov_id %}" class="btn bg-navy btn-xs" title="{% trans 'Editar' %}"><i class="glyphicon glyphicon-edit"></i></a>
                                            {% if p.prov_estado %}
                                            <button class="btn btn-danger btn-xs" title="{% trans 'Eliminar' %}" onclick="prod_eliminar_objetos('{% url "dashboard_app:url_eliminar_proveedores" %}?id={{ p.prov_id }}', 'PV', 'tabla_proveedores', this)"><i class="fa fa-trash-o"></i></button>
                                            {% else %}
                                            <button class="btn btn-success btn-xs" title="{% trans 'Activar' %}" onclick="prov_activar_proveedor('{% url "dashboard_app:url_activar_proveedor" %}?id={{ p.prov_id }}', this)"><i class="fa fa-exchange"></i></button>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_proveedores').addClass("active");
            $('#menu_proveedores_administrar').addClass("active");
            $('#menu_proveedores_administrar').children('a').removeAttr('href');

            var table = $('#tabla_proveedores').DataTable( {
                pageLength: 15,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',
                        exportOptions: {columns: ':visible'}
                    },
                    {
                        extend: 'excel',
                        exportOptions: {columns: ':visible'},
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {columns: ':visible'},
                    },
                    {
                        extend: 'copy',
                        exportOptions: {columns: ':visible'},
                    },
                    'colvis'
                ]
            });

            table.buttons().container().appendTo('#tabla_proveedores_wrapper .col-sm-6:eq(0)');
        });
    </script>
{% endblock scripts %}