{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% if not proveedor_editar %}{% trans "Bloom: Crear un nuevo proveedor" %}{% else %}{% trans "proyecto: Editar proveedor" %}{% endif %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'proyecto/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% if not proveedor_editar %}{% trans "Crear un nuevo proveedor" %}{% else %}{% trans "Editar proveedor" %}{% endif %}</h3>
                    </div>
                    <form role="form" enctype="multipart/form-data" id="formulario_agregar_proveedor" name="formulario_agregar_proveedor" onsubmit="return false;" method="post">{% csrf_token %}
                        {% if proveedor_editar %}
                            <br />
                            <div align="center"><a href="{% url 'dashboard_app:url_listar_proveedores' %}" class="btn bg-green" >
                                <i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans "Regresar a la lista de proveedores" %}</a>
                            </div>
                            <br/>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                <div class="box-body">
                                    <!-- Nombre -->
                                    {% trans "Nombre del proveedor" as i18n_proveedor_nombre %}
                                    <div class="form-group">
                                        <label>{{ i18n_proveedor_nombre }} <span class="required">*</span></label>
                                        <input type="text" id="proveedor_nombre" name="proveedor_nombre" placeholder="{{ i18n_proveedor_nombre }}" value="{{ proveedor_editar.prov_nombre}}" class="form-control" maxlength="50" required>
                                    </div>
                                    <!-- Contacto -->
                                    {% trans "Contacto" as i18n_proveedor_contacto %}
                                    <div class="form-group">
                                        <label>{{ i18n_proveedor_contacto }} <span class="required">*</span></label>
                                        <input type="text" id="proveedor_contacto" name="proveedor_contacto" placeholder="{{ i18n_proveedor_contacto }}" value="{{ proveedor_editar.prov_contacto}}" class="form-control" maxlength="50" required>
                                    </div>
                                    <!-- Direccion -->
                                    {% trans "Dirección" as i18n_proveedor_direccion %}
                                    <div class="form-group">
                                        <label>{{ i18n_proveedor_direccion }} <span class="required">*</span></label>
                                        <input type="text" id="proveedor_direccion" name="proveedor_direccion" placeholder="{{ i18n_proveedor_direccion }}" value="{{ proveedor_editar.prov_direccion}}" class="form-control" maxlength="50" required>
                                    </div>
                                    <!-- Ciudad -->
                                    {% trans "Ciudad" as i18n_proveedor_ciudad %}
                                    <div class="form-group">
                                        <label>{{ i18n_proveedor_ciudad }} <span class="required">*</span></label>
                                        <input type="text" id="proveedor_ciudad" name="proveedor_ciudad" placeholder="{{ i18n_proveedor_ciudad }}" value="{{ proveedor_editar.prov_ciudad}}" class="form-control" maxlength="20" required>
                                    </div>
                                    <!-- Pais -->
                                    {% trans "País" as i18n_proveedor_pais %}
                                    <div class="form-group">
                                        <label>{{ i18n_proveedor_pais }} <span class="required">*</span></label>
                                        <input type="text" id="proveedor_pais" name="proveedor_pais" placeholder="{{ i18n_proveedor_pais }}" value="{{ proveedor_editar.prov_pais}}" class="form-control" maxlength="10" required>
                                    </div>
                                    <!-- Telefono/Celular -->
                                    <div class="row">
                                        {% trans "Teléfono" as i18n_proveedor_telefono %}
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>{{ i18n_proveedor_telefono }} <span class="required">*</span></label>
                                                <input type="text" id="proveedor_telefono" name="proveedor_telefono" placeholder="{{ i18n_proveedor_telefono }}" value="{{ proveedor_editar.prov_telefono}}" class="form-control" maxlength="10" required>
                                            </div>
                                        </div>
                                        {% trans "Celular" as i18n_proveedor_celular %}
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>{{ i18n_proveedor_celular }} <span class="required">*</span></label>
                                                <input type="text" id="proveedor_celular" name="proveedor_celular" placeholder="{{ i18n_proveedor_celular }}" value="{{ proveedor_editar.prov_cel}}" class="form-control" maxlength="10" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Pagina -->
                                    {% trans "Página" as i18n_proveedor_pagina %}
                                    <div class="form-group">
                                        <label>{{ i18n_proveedor_pagina }}</label>
                                        <input type="text" id="proveedor_pagina" name="proveedor_pagina" placeholder="{{ i18n_proveedor_pagina }}" value="{{ proveedor_editar.prov_home_page}}" class="form-control" maxlength="30">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer" align="center">
                            <button onclick="prov_agregar_proveedor('{% url "dashboard_app:url_agregar_proveedor" %}', '{{ proveedor_editar.prov_id }}')" id="btn_proveedores_agregar" class="btn bg-light-blue" type="submit">{% trans "Guardar cambios" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_proveedores').addClass("active");
            $('#menu_proveedores_agregar').addClass("active");
            $('#menu_proveedores_agregar').children('a').removeAttr('href');
        });
    </script>
{% endblock scripts %}