{% extends "index.html" %}
{% block content %}
<script>
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == 'success' %}
                    alertify.set('notifier','position', 'top-right');
                    alertify.notify('{{ msg }}','success' ,10);
                {% else %}
                    alertify.set('notifier','position', 'top-right');
                    alertify.notify('{{ msg }}','error' ,10);
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
    <div id="content-block">
        <div class="container be-detail-container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <div class="be-large-post">
                        <div class="info-block style-2">
                            <div class="be-large-post-align"><div class="info-block-right"><button id="btn_guardar_producto" class="btn btn-flat btn-primary" type="button" onclick="modalCategoria()">AGREGAR</button><span class="num-data"></span></div><h3 class="info-block-label">Listado de Productos</h3></div>
                        </div>
                        <div class="be-large-post-align">
                            <div class="table-responsive">
                                <table id="tablaProductos" name="tablaProductos" class="table table-sotring tablesorter">
                                    <thead>
                                      <tr>
                                        <th class="col-xs-1 text-center">
                                            Nombre
                                        </th>
                                        <th class="col-xs-1 text-center">
                                            Descripcion
                                        </th>
                                        <th class="col-xs-5">Acciones</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for categoria in listaCategoria %}
                                      <tr>
                                        <td class="text-center"><strong>{{categoria.nombre}}</strong></td>
                                        <td class="text-center"><strong>{{categoria.descripcion}}</strong></td>
                                        <td>
                                            <a href="#" onclick="modificar_categoria('{{ categoria.id }}', '/cat_modificar/')"  ><i class="fa fa-edit" ></i></a>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="modalCategoria" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="post" action="/cat_guardar/"  id="formCategoria" >{% csrf_token %}
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                Agregar Categoria
                            </h4>
                        </div>
                        <div class="modal-body">
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Nombre</label>
                                <div class="col-sm-10">
                                    <input id="txt_categoria_nombre" name="txt_categoria_nombre"  type="text" class="form-control" required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                                </div>
                            </div>
                        </div>
                            <br/>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Descripcion</label>
                                <div class="col-sm-10">
                                    <input id="txt_categoria_descripcion" name="txt_categoria_descripcion" maxlength="100" type="text" class="form-control"  required title='Rellene este campo.' x-moz-errormessage='Rellene este campo.' autocomplete="off">
                                </div>
                            </div>
                        </div>

                        </div>
                        <div class="modal-footer">
                            <div class="right" id="contenedor_btn_categoria">

                            </div>
                        </div>
                    </div>

                </div>
            </form>
            </div>
            <script type="text/javascript">
    // jQuery(document).ready(function() {
    //     // $('#msg-res').addClass('show');
    //     // $('#espera-res').removeClass("show");
    // });

    function eliminarProducto(elemento, nombre){
        var mensaje = "¿Desea volver activar este producto?";
    var estado = 1;
    if(elemento.checked == false){
        var mensaje = '¿Está seguro que desea dejar inactivo al producto: '+nombre;
        estado = 0;
    }

    alertify.confirm(mensaje, function (){
        $.ajax({
                data: {'codigo': elemento.value, 'estado': estado},
                url: '/pro_activar/',
                type: 'get',
                success: function (data) {
                    $("#tablaProductos").load(location.href+" #tablaProductos>*","");
                    if (data.result=="OK"){
                        alertify.set('notifier','position', 'top-right');
                        alertify.success(data.mensaje, 'success', 5);
                    }else{
                        alertify.set('notifier','position', 'top-right');
                        alertify.notify(data.mensaje, 'error', 5);
                    }
                }
            });
    }, function(){
        if(elemento.checked == true){
            elemento.checked = false;
        }else{
            elemento.checked = true;
        }
    });

    }

    document.onload=inicioTabla()
        function inicioTabla(){

        }
function modificar_producto(id, url){
    $.ajax({
        data: {'codigo': id},
        url: url,
        type: 'get',
        success: function (data) {
            if(data.length != 0){
                $("input[type=text]").focusin();
                $("#contenedor_btn_producto").empty();
                $("#titulo").html('Modificar Producto');
                $("#contenedor_btn_producto").append('<button onclick="modificar_datos_producto('+data[0].id+')" class="btn btn-flat" id="btn_modificar" type="button" style="background-color: #60962a;color: #ffffff">Guardar</button>')
                $("#txt_producto_codigo").val(data[0].codigo);
                $("#txt_producto_nombre").val(data[0].nombre);
                $("#txt_producto_descripcion_corta").val(data[0].descripcion_corta);
                $("#txt_producto_stock").val(data[0].stock);
                $("#txt_producto_precio_compra").val(data[0].precio_compra);
                $("#txt_producto_precio_venta").val(data[0].precio_venta);
                var s="Si"
                if(data[0].iva=="No") s="No"
                $("#txt_producto_iva").value=s
                $("#txt_producto_descuento").val(data[0].descuento);
                $("#txt_producto_modelo").val(data[0].modelo);
                $('#modalProducto').modal({
                    show: 'true'
                });
            }else{
                alertify.set('notifier','position', 'top-right');
                alertify.error('Producto no encontrado','error' ,10);
            }
        }
    });
}

function modificar_datos_producto(id){
    $.ajax({
        data: {'txt_producto_id': id, 'txt_producto_codigo':$("#txt_producto_codigo").val(),
                'txt_producto_nombre':$("#txt_producto_nombre").val(),
            'txt_producto_descripcion_corta':$("#txt_producto_descripcion_corta").val(),
            'txt_producto_stock':$("#txt_producto_stock").val(),
            'txt_producto_precio_compra':$("#txt_producto_precio_compra").val(),
            'txt_producto_precio_venta':$("#txt_producto_precio_venta").val(),
            'txt_producto_iva':$("#txt_producto_iva").val(),
            'txt_producto_descuento':$("#txt_producto_descuento").val(), 'imagen':$("#imagen").val(),
            'txt_producto_modelo':$("#txt_producto_modelo").val(),
        'txt_producto_categoria':$("#listCategorias").val()},
        url: '/cat_modificar_guardar/',
        type: 'get',
        success: function (data) {
            $("#tablaProductos").load(location.href+" #tablaProductos>*","");
            $('#modalProducto').modal('hide');
            if (data.mensaje!="1"){
                alertify.set('notifier','position', 'top-right');
                alertify.notify('Actualizacion Exitosa', 'success', 5);
            }else{
                alertify.set('notifier','position', 'top-right');
                alertify.notify("Existe un error", 'error', 5);
            }
        }
    });
}
 function modalCategoria(){
                    $('#formCategoria')[0].reset();
                    $("#titulo_categoria").html('Registrar Categoria');
                    $("#contenedor_btn_categoria").empty();
                    $("#contenedor_btn_categoria").append('<button class="btn btn-flat" type="submit" style="background-color: #60962a;color: #ffffff">Guardar</button>');
                                        $('#modalCategoria').modal({
            show: 'true'
        });
                }
    function modificar_categoria(id, url){
    $.ajax({
        data: {'codigo': id},
        url: url,
        type: 'get',
        success: function (data) {
            if(data.length != 0){
                $("input[type=text]").focusin();
                $("#contenedor_btn_categoria").empty();
                $("#titulo").html('Modificar Producto');
                $("#contenedor_btn_categoria").append('<button onclick="modificar_datos_categoria('+data[0].id+')" class="btn btn-flat" id="btn_modificar" type="button" style="background-color: #60962a;color: #ffffff">Guardar</button>')
                $("#txt_categoria_nombre").val(data[0].nombre);
                $("#txt_categoria_descripcion").val(data[0].descripcion);
                $('#modalCategoria').modal({
                    show: 'true'
                });
            }else{
                alertify.set('notifier','position', 'top-right');
                alertify.error('Categoria no encontrado','error' ,10);
            }
        }
    });
}
function modificar_datos_categoria(id){
    $.ajax({
        data: {'txt_categoria_id': id, 'txt_categoria_nombre':$("#txt_categoria_nombre").val(),
                'txt_categoria_descripcion':$("#txt_categoria_descripcion").val()},
        url: '/cat_modificar_guardar/',
        type: 'get',
        success: function (data) {
            $("#tablaProductos").load(location.href+" #tablaProductos>*","");
            $('#txt_categoria_nombres').modal('hide');
            if (data.mensaje!="1"){
                alertify.set('notifier','position', 'top-right');
                alertify.notify('Actualizacion Exitosa', 'success', 5);

            }else{
                alertify.set('notifier','position', 'top-right');
                alertify.notify("Existe un error", 'error', 5);
            }
             $('#modalCategoria').modal('hide');
        }
    });
}
</script>
{% endblock %}
