{% extends "index.html" %}
{% block content %}
<script>
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == 'success' %}
                    alertify.set('notifier','position', 'top-right');
                    alertify.notify('{{ msg }}','success' ,10);
                {% else %}
                    alertify.set('notifier','position', 'top-right');
                    alertify.notify('{{ msg }}','error' ,10);
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
    <div id="content-block">
        <div class="container be-detail-container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <div class="be-large-post">
                        <div class="info-block style-2">
                            <div class="be-large-post-align"><div class="info-block-right"><button id="btn_guardar_producto" class="btn btn-flat btn-primary" type="button" onclick="modal_producto()">AGREGAR</button><span class="num-data"></span></div><h3 class="info-block-label">Listado de Productos</h3></div>
                        </div>
                        <div class="be-large-post-align">
                            <div class="table-responsive">
                                <table id="tablaProductos" name="tablaProductos" class="table table-sotring tablesorter">
                                    <thead>
                                      <tr>
                                        <th class="col-xs-4">Img</th>
                                        <th class="col-xs-1 text-center">
                                            Codigo
                                        </th>
                                        <th class="col-xs-1 text-center">
                                            Categoria
                                        </th>
                                        <th class="col-xs-1 text-center">
                                            Stock
                                        </th>
                                        <th class="col-xs-5">Acciones</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for producto in listaProductos %}
                                      <tr>
                                        <td class="col-xs-4">
                                            <div class="t_project clearfix">
                                                <a href="#"><img class="t_project-img" src="{{producto.imagen.url}}" alt=""></a>
                                                <div class="t_project-desc">
                                                    <a class="t_project-title" href="blog-detail-2.html">{{producto.nombre}}</a>
                                                    <div class="t_project-date"><i class="fa fa-clock-o"></i>{{producto.fecha_ingreso}}</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center"><strong>{{producto.codigo}}</strong></td>
                                        <td class="text-center"><strong>{{producto.id_categoria.nombre}}</strong></td>
                                        <td class="text-center"><strong>{{producto.stock}}</strong></td>
                                        <td>
                                            <a href="#" onclick="modificar_producto('{{ producto.id }}', '/pro_modificar/')"  ><i class="fa fa-edit" ></i></a>
                                            <input id="codigo_{{ producto.id }}" type="checkbox" {% if producto.is_active == True %} checked {% endif %} onchange="eliminarProducto(this, '{{ producto.nombre }}')" value="{{ producto.id }}">
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="modalProducto" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="post" action="/pro_guardar/" id="formProducto" enctype="multipart/form-data">{% csrf_token %}
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                Agregar Producto
                            </h4>
                        </div>
                        <div class="modal-body">
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Codigo</label>
                                <div class="col-sm-10">
                                    <input id="txt_producto_codigo" name="txt_producto_codigo"  type="text" class="form-control" required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                                </div>
                            </div>
                        </div>
                            <br/>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Nombre</label>
                                <div class="col-sm-10">
                                    <input id="txt_producto_nombre" name="txt_producto_nombre" maxlength="100" type="text" class="form-control"  required title='Rellene este campo.' x-moz-errormessage='Rellene este campo.' autocomplete="off">
                                </div>
                            </div>
                        </div>
                            <br/>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Descripcion Corta</label>
                                <div class="col-sm-10">
                                    <input id="txt_producto_descripcion_corta" name="txt_producto_descripcion_corta" maxlength="100" type="text" class="form-control" required title='Rellene este campo.' x-moz-errormessage='Rellene este campo.' autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Stock</label>
                                <div class="col-sm-10">
                                    <input id="txt_producto_stock" name="txt_producto_stock" maxlength="100" type="text" class="form-control"required title='Rellene este campo.' x-moz-errormessage='Rellene este campo.' autocomplete="off">
                                </div>
                            </div>
                        </div>
                            <br/>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Precio Compra</label>
                                <div class="col-sm-10">
                                    <input id="txt_producto_precio_compra" name="txt_producto_precio_compra" maxlength="100" type="text" class="form-control" required title='Rellene este campo.' x-moz-errormessage='Rellene este campo.' autocomplete="off">
                                </div>
                            </div>
                        </div>
                            <br/>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Precio Venta</label>
                                <div class="col-sm-10">
                                    <input id="txt_producto_precio_venta" name="txt_producto_precio_venta" maxlength="100" type="text" class="form-control" required title='Rellene este campo.' x-moz-errormessage='Rellene este campo.' autocomplete="off">
                                </div>
                            </div>
                        </div>
                            <br/>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Iva</label>
                                <div class="col-sm-10">
                                    <select class="form-control"  style="width: 100%" id = "txt_producto_iva" name="txt_producto_iva">
                                        <option value="1">Si</option>
                                        <option value="2">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                            <br/>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Descuento</label>
                                <div class="col-sm-10">
                                        <input id="txt_producto_descuento" name="txt_producto_descuento" maxlength="100" type="text" class="form-control" required title='Rellene este campo.' x-moz-errormessage='Rellene este campo.' autocomplete="off">
                                </div>
                            </div>
                        </div>
                            <br/>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Imagen</label>
                                <div class="col-sm-10">
                                        <input type="file" id="imagen" name="imagen"/>
                                </div>
                            </div>
                        </div>

                            <br/>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Modelo</label>
                                <div class="col-sm-10">
                                        <input id="txt_producto_modelo" name="txt_producto_modelo" maxlength="100" type="text" class="form-control" required title='Rellene este campo.' x-moz-errormessage='Rellene este campo.' autocomplete="off">
                                </div>
                            </div>
                        </div>
                            <br/>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Categorias</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id = "listCategorias" name="listCategorias">
                                    {% for categoria in categoria %}
                                    <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="right" id="contenedor_btn_producto">

                            </div>
                        </div>
                    </div>

                </div>
            </form>
            </div>
<script type="text/javascript">
    // jQuery(document).ready(function() {
    //     // $('#msg-res').addClass('show');
    //     // $('#espera-res').removeClass("show");
    // });

    function eliminarProducto(elemento, nombre){
        var mensaje = "¿Desea volver activar este producto?";
    var estado = 1;
    if(elemento.checked == false){
        var mensaje = '¿Está seguro que desea dejar inactivo al producto: '+nombre;
        estado = 0;
    }

    alertify.confirm(mensaje, function (){
        $.ajax({
                data: {'codigo': elemento.value, 'estado': estado},
                url: '/pro_activar/',
                type: 'get',
                success: function (data) {
                    $("#tablaProductos").load(location.href+" #tablaProductos>*","");
                    if (data.result=="OK"){
                        alertify.set('notifier','position', 'top-right');
                        alertify.success(data.mensaje, 'success', 5);
                    }else{
                        alertify.set('notifier','position', 'top-right');
                        alertify.notify(data.mensaje, 'error', 5);
                    }
                }
            });
    }, function(){
        if(elemento.checked == true){
            elemento.checked = false;
        }else{
            elemento.checked = true;
        }
    });

    }

    document.onload=inicioTabla()
        function inicioTabla(){

        }
function modificar_producto(id, url){
    $.ajax({
        data: {'codigo': id},
        url: url,
        type: 'get',
        success: function (data) {
            if(data.length != 0){
                $("input[type=text]").focusin();
                $("#contenedor_btn_producto").empty();
                $("#titulo").html('Modificar Producto');
                $("#contenedor_btn_producto").append('<button onclick="modificar_datos_producto('+data[0].id+')" class="btn btn-flat" id="btn_modificar" type="button" style="background-color: #60962a;color: #ffffff">Guardar</button>')
                $("#txt_producto_codigo").val(data[0].codigo);
                $("#txt_producto_nombre").val(data[0].nombre);
                $("#txt_producto_descripcion_corta").val(data[0].descripcion_corta);
                $("#txt_producto_stock").val(data[0].stock);
                $("#txt_producto_precio_compra").val(data[0].precio_compra);
                $("#txt_producto_precio_venta").val(data[0].precio_venta);
                var s="Si"
                if(data[0].iva=="No") s="No"
                $("#txt_producto_iva").value=s
                $("#txt_producto_descuento").val(data[0].descuento);
                $("#txt_producto_modelo").val(data[0].modelo);
                $('#modalProducto').modal({
                    show: 'true'
                });
            }else{
                alertify.set('notifier','position', 'top-right');
                alertify.error('Producto no encontrado','error' ,10);
            }
        }
    });
}

function modificar_datos_producto(id){
    $.ajax({
        data: {'txt_producto_id': id, 'txt_producto_codigo':$("#txt_producto_codigo").val(),
                'txt_producto_nombre':$("#txt_producto_nombre").val(),
            'txt_producto_descripcion_corta':$("#txt_producto_descripcion_corta").val(),
            'txt_producto_stock':$("#txt_producto_stock").val(),
            'txt_producto_precio_compra':$("#txt_producto_precio_compra").val(),
            'txt_producto_precio_venta':$("#txt_producto_precio_venta").val(),
            'txt_producto_iva':$("#txt_producto_iva").val(),
            'txt_producto_descuento':$("#txt_producto_descuento").val(), 'imagen':$("#imagen").val(),
            'txt_producto_modelo':$("#txt_producto_modelo").val(),
        'txt_producto_categoria':$("#listCategorias").val()},
        url: '/pro_modificar_guardar/',
        type: 'get',
        success: function (data) {
            $("#tablaProductos").load(location.href+" #tablaProductos>*","");
            $('#modalProducto').modal('hide');
            if (data.mensaje!="1"){
                alertify.set('notifier','position', 'top-right');
                alertify.notify('Actualizacion Exitosa', 'success', 5);
            }else{
                alertify.set('notifier','position', 'top-right');
                alertify.notify("Existe un error", 'error', 5);
            }
        }
    });
}
function modal_producto(){
                                $('#formProducto')[0].reset();
                                $("#titulo_producto").html('Registrar Producto');
                                $("#contenedor_btn_producto").empty();
                                $("#contenedor_btn_producto").append('<button class="btn btn-flat" type="submit" style="background-color: #60962a;color: #ffffff">Guardar</button>');
                                $('#modalProducto').modal({
                                show: 'true'
                                });
                                }
</script>
{% endblock %}
