{% load l10n %}
<div class="left-sidebar-block">
    <div class="sidepanel widget_search animate" data-anim-type="fadeInUp" data-anim-delay="300">
        {% if respuesta.tipo == "all" or respuesta.tipo == "cantidad" or respuesta.tipo == "tag" or respuesta.tipo == "cat" %}
            <input id="text_busqueda" type="text" name="s" value="" placeholder="Search">
        {% else %}
            <input id="text_busqueda" type="text" name="s" value="{{respuesta.id_buscado}}" placeholder="Search">
        {% endif %}
        <input type="submit" value="Go">
    </div>
    {% load mptt_tags %}
    <div class="sidepanel animate" data-anim-type="fadeInUp" data-anim-delay="300">
        <h4 class="title">Categorias</h4>
        <ul id="tree3">
        {% for i in categorias %}
            <li>
                <li><a style="font-family: times, serif; font-size:14pt;" href="/shop/productos/cat={{i.cat_nombre}}/">{{i.cat_nombre}}</a>
                </li>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>