<div id="modalIngresoCarrito" class="modal fade login_popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="padding-top: 50px;">
        <div class="modal-content">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <div id="prod_imagen" class="img_block wrapped_img">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 shop_list_info">
                    <h2 id="prod_titulo" class="product_title"></h2>
                    <div id="prod_precio" class="product_title"></div>
                    <p style="color: red;">Precio no incluye iva</p>
                    <div class="product_meta">
                        <span class="posted_in"><span>Cantidad disponible:</span>
                            <spam id="prod_cantidad"></span>
                        </span>
                    </div>
                    <div class="product_btns">
                        <div class="product_quantity">
                            <form class="cart" method="post" action="javascript:void(0);">
                                <div id="botonesMas_Menos" class="quantity">
                                    
                                </div>
                                <input id="txt_cantidad1" class="hide" type="text" value="1">
                                <div class="clear"></div>
                            </form>
                            <input type="number" id="ctp" class="hide" disabled value="{{producto.pro_stock}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="contenedorBotones">
                    </div>
                </div>
            </div>
            <button type="button" class="close_popup" data-dismiss="modal"><i class="icon-times"></i></button>
        </div>
    </div>                                    
</div>