{% extends "base.html" %}
{% load l10n %}
{% block css %}
<link rel="stylesheet" href="/static/proyecto/css/shop.css" rel="stylesheet">

{% endblock css %} {% block content %}
<div class="wrapper">
    <div class="container">
        <div class="page_title_block">
            <div class="bg_title">
                <h1>Lista de productos</h1>
            </div>
            <div class="page_descr">
                <p>Aqui en NGRNetwork puede encontrar los mejores productos al mejor precio del mercado, compras online 100% seguras con garantia</p>
            </div>
        </div>
        <div class="content_block row left-sidebar">
            <div class="fl-container ">
                <div class="posts-block hasLS">
                    <div class="contentarea shop_list">
                        <div class="shop_ordering animate" data-anim-type="fadeInUp" data-anim-delay="300">
                            <div class="fright">Página {{paginator.page}} de {{paginator.pages}}</div>
                            <div class="fleft">
                                <ul class="pagerblock" style="padding-bottom: 10px;">
                                    {% if paginator.has_prev %}
                                    <li><a href="/shop/productos/?page={{ paginator.firstPage }}" class="prev-page"><i class="icon-arrow-left"></i>Inicio</a></li>
                                    <li><a href="/shop/productos/?page={{ paginator.prev_page }}" class="prev-page"><i class="icon-angle-left"></i></a></li>
                                    {% else %}
                                    <li><a class="prev-page"><i class="icon-arrow-left"></i>Inicio</a></li>
                                    <li><a class="prev-page"><i class="icon-angle-left"></i></a></li>
                                    {% endif %} {% if paginator.has_next %}
                                    <li><a href="/shop/productos/?page={{ paginator.next_page }}" class="next-page"><i class="icon-angle-right"></i></a></li>
                                    <li><a href="/shop/productos/?page={{ paginator.pages }}" class="next-page"><i class="icon-arrow-right"></i>Final</a></li>
                                    {% else %}
                                    <li><a class="next-page"><i class="icon-angle-right"></i></a></li>
                                    <li><a class="next-page"><i class="icon-arrow-right"></i>Final</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="shop_list_item">
                            <div class="items3">
                                <ul class="item_list">
                                    {% for producto in productos %}
                                    <li class="animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                        <div class="item">
                                            <div class="item">
                                                <div class="item_wrapper">
                                                    <div class="img_block wrapped_img">
                                                        <img class="img-responsive" src="{{ producto.img }}" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <a href="/shop/producto_detalle/{{ producto.prod.pro_id }}" class="featured_ico_link view_link"><i class="icon-link"></i></a>
                                                            <a data-toggle="modal" data-target="#modalIngresoCarrito" data-id="{{producto.prod.pro_id}}" data-nombre="{{producto.prod.pro_nombre}}" data-img="{{producto.img}}" data-cantidad="{{producto.prod.pro_stock}}" data-oferta="{{producto.oferta}}" data-precio="{{producto.prod.pro_precio|unlocalize}}" data-preoferta="{{producto.pre_oferta}}" class="featured_ico_link view_link"><i class="icon-shopping-cart"></i></a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="shop_list_info">
                                                    <div class="product_categories">
                                                        <a href="javascript:void(0);">{{ producto.prod.categorias.cat_nombre }}</a>
                                                    </div>
                                                    <h6><a href="/shop/producto_detalle/{{ producto.prod.pro_id }}">{{ producto.prod.pro_nombre }}</a></h6>
                                                    <div class="price">
                                                        {% if producto.oferta == True %}
                                                        <del>${{ producto.prod.pro_precio|unlocalize }}</del>
                                                        <ins>${{ producto.pre_oferta }}</ins>
                                                        {% else %}
                                                        <ins>${{ producto.prod.pro_precio|unlocalize }}</ins>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <ul class="pagerblock">
                            {% if paginator.has_prev %}
                            <li><a href="/shop/productos/?page={{ paginator.firstPage }}" class="prev-page"><i class="icon-arrow-left"></i>Inicio</a></li>
                            <li><a href="/shop/productos/?page={{ paginator.prev_page }}" class="prev-page"><i class="icon-angle-left"></i></a></li>
                            {% else %}
                            <li><a class="prev-page"><i class="icon-arrow-left"></i>Inicio</a></li>
                            <li><a class="prev-page"><i class="icon-angle-left"></i></a></li>
                            {% endif %} {% if paginator.has_next %}
                            <li><a href="/shop/productos/?page={{ paginator.next_page }}" class="next-page"><i class="icon-angle-right"></i></a></li>
                            <li><a href="/shop/productos/?page={{ paginator.pages }}" class="next-page"><i class="icon-arrow-right"></i>Final</a></li>
                            {% else %}
                            <li><a class="next-page"><i class="icon-angle-right"></i></a></li>
                            <li><a class="next-page"><i class="icon-arrow-right"></i>Final</a></li>
                            {% endif %}
                            <li>Hola</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% include "shop/menu_derecho.html" %}
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- Modal agregar carrito -->
{% include "shop/modal_carrito.html" %}
{% endblock content %} {% block js %}
<script type="text/javascript" src="/static/proyecto/js/shop.js"></script>
<script type="text/javascript" src="/static/js/modalShop.js"></script>
<script type="text/javascript" src="/static/js/carrito.js"></script>
<script type="text/javascript" src="/static/js/busquedas.js"></script>
<script>
$(function() {
    {% if respuesta.tipo = 'cantidad' %}
        var min = {{respuesta.min}};
        var max = {{respuesta.max}};
        $("#slider-range").slider('values',0,min);
        $("#slider-range").slider('values',1,max);
        $(".price-filter").html( '<span class="from">$&nbsp;' + min + '</span> - <span class="to">$&nbsp;' + max + '</span>' );
    {% endif %}
});
</script>
{% endblock js %}
