{% extends "base.html" %}
{% load l10n %}
{% block css %}
<link rel="stylesheet" href="/static/proyecto/footable/css/footable.bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/static/proyecto/datatables/css/dataTables.tableTools.min.css" rel="stylesheet">
{% endblock css %}
{% block content %}
<div class="wrapper">
    <div class="container">
        <div class="page_title_block">
            <div class="bg_title">
                <h1>Lista de pedidos realizados</h1>
            </div>
        </div>
        <div class="row pb75">
            <div class="shop_ordering animate" data-anim-type="fadeInUp" data-anim-delay="300">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="label label-warning">Pendiente</div>
                            <span>En espera a que el usuario deposite el monto del pedido.</span>
                        </div>
                        <div class="row">
                            <label class="label label-info">Verificacion</label>
                            <span>Una vez depositado el monto es revisado y verificado.</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="label label-success">Enviado</label>
                            <span>Se envia el producto a la direccion dada por el usuario.</span>
                        </div>
                        <div class="row">
                            <label class="label label-danger">Cancelado</label>
                            <span>Por algun motivo se cancelo el pedido.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="control-label">Pedidos del usuario:</label>
                    <span>{{request.user.us_nombre}} {{request.user.us_apellidos}} ({{request.user.username}})</span>
                    <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Buscar">
                    <div class="table-responsive">
                        <table class="footable table toggle-arrow-tiny" data-page-size="8" data-filter=#filter id="tabla_pedidos">
                            <thead>
                                <tr>
                                    <th>Cod. Ped</th>
                                    <th>Fecha pedido</th>
                                    <th>Fecha envio</th>
                                    <th data-hide="all">Ciudad</th>
                                    <th data-hide="all">Dirección</th>
                                    <th># Deposito</th>
                                    <th data-hide="all">Transporte</th>
                                    <th>Total a pagar</th>
                                    <th>Estado</th>
                                    <th class="text-right footable-visible footable-last-column" data-sort-ignore="true">Gestionar deposito</th>
                                    <th data-hide="all">Cod. Guia</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pedido in pedidos  %}
                                    {% if pedido.ped_estado == 'enviado' %}
                                        <tr class="success">
                                    {% else %}
                                        <tr class="active">
                                    {% endif %}
                                        <td>
                                        <a href="/shop/pedido/{{pedido.ped_id}}">PED-{{pedido.ped_id}}</a>
                                        </td>
                                        <td>{{pedido.ped_fecha_pedido}}</td>
                                        <td>
                                        {% if pedido.ped_fecha_envio == None %}
                                            <span class="label label-info">Aún no se ha enviado su pedido</span>
                                        {% else %}
                                            {{pedido.ped_fecha_envio}}
                                        {% endif %}
                                        </td>
                                        <td>{{pedido.ped_ciudad_envio}}</td>
                                        <td>{{pedido.ped_direccion_envio}}</td>
                                        <td>
                                            {% if pedido.ped_cod_deposito == None or pedido.ped_cod_deposito == 'None' or pedido.ped_cod_deposito == '' %}
                                                ------------
                                            {% else %}
                                                #{{pedido.ped_cod_deposito}}
                                            {% endif %}
                                        </td>
                                        <td>
                                        {% if pedido.trans_id == None %}
                                            Retiro personal en el local
                                        {% else %}
                                            {{pedido.trans_nombre}}
                                        {% endif %}
                                        </td>
                                        <td>${{pedido.ped_total_pagar|unlocalize}}</td>
                                        <td>
                                        {% if pedido.ped_estado == 'pendiente' %}
                                            <span class="label label-warning">Pendiente</span>
                                        {% elif pedido.ped_estado == 'verificacion' %}
                                            <span class="label label-info">Verificacion</span>
                                        {% elif pedido.ped_estado == 'enviado' %}
                                            <span class="label label-success">Enviado</span>
                                        {% else %}
                                            <span class="label label-danger">Cancelado</span>
                                        {% endif %}
                                        </td>
                                        {% if pedido.ped_estado = 'enviado' %}
                                            <td class="text-right footable-visible footable-last-column">Estado del pedido no permite edición
                                        </td>
                                        {% elif pedido.ped_estado = 'cancelado'%}
                                            <td class="text-right footable-visible footable-last-column">Estado del pedido no permite edición
                                        {% else %}
                                        <td class="text-right footable-visible footable-last-column">
                                            <button class="btn-default btn btn-xs" data-toggle="modal" data-target="#modalIngresoDeposito" data-codigo-deposito='{{pedido.ped_cod_deposito}}' data-imagen-deposito='/media/{{pedido.ped_imagen_deposito}}' data-id='{{pedido.ped_id}}'>Agregar deposito</button>
                                        </td>
                                        {% endif %}
                                        <td>
                                            {% if pedido.ped_codigo_guia == None or pedido.ped_codigo_guia == '' or pedido.ped_codigo_guia == 'None'%}
                                            <span class="label label-info">Aún no se ha enviado su pedido</span>
                                            {% else %}
                                            {{pedido.ped_codigo_guia}} - <a href="{{pedido.trans_id.trans_url}}" TARGET="_BLANK">revisar</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalIngresoDeposito" class="modal fade login_popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="padding-top: 50px;">
        <div class="modal-content">
            <form  id="form_deposito" name="form_deposito" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                   <div class="col-md-12">
                        <label class="control-label">Papel del deposito escaneado:</label>
                            <div class="image-crop" style="max-height: 300px; max-width:100%;">
                                <div id="contenedor_img">
                                 </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <center>
                        <div class="btn-group">
                            <label title="Upload image file" for="inputImage" class="btn btn-default">
                                <input type="file" accept="image/*" name="file1" id="file1">
                            </label>
                        </div>
                    </center>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Cod. deposito:</label>
                            <input id="txt_deposito" name="txt_deposito" maxlength="20" type="text" required="required" class="form-control" placeholder="Ingrese el numero del comprobante de deposito ej: 4007298" />
                            <input class="hide" id="txt_id" name="txt_id" maxlength="20" type="text" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-5 col-md-2">
                        <input class="btn-success btn" type="submit" name="btn_enviar" value="Guardar">
                    </div>
                </div>
            </form >
            <button type="button" class="close_popup" data-dismiss="modal"><i class="icon-times"></i></button>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script type="text/javascript" src="/static/proyecto/footable/js/footable.min.js"></script>
<script type="text/javascript" src="/static/js/pedidos.js"></script>
<script>
    $(document).ready(function(){
        $('.footable').footable();
    });
</script>
{% endblock js %}