    {% extends "base.html" %} {% load l10n %} {% block css %}
    <link rel="stylesheet" href="/static/proyecto/css/shop.css" rel="stylesheet"> {% endblock css %} {% block content %}

    <div class="wrapper">
    	<div class="container">
        	<div class="content_block row right-sidebar single_product">
            	<div class="fl-container hasRS">
                	<div class="posts-block">
                        <div class="contentarea">

                            <div class="row">
                            	<div class="col-sm-5 images animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                	<div class="img_block wrapped_img">
                                        {% for img in imagenes %}
                                            {% if img.img_es_principal == 1 %}
                                                <img style="width: 370px;height: 400px;" id="largeImage" src="{{ img.img_data }}"  alt="" />
                                            {% endif %}
                                        {% endfor %}
                                        <span class="block_fade"></span>
                                        <div class="post_hover_info">
                                            {% for img in imagenes %}
                                                {% if img.img_es_principal == 1 %}
                                                    <a id="zoom_product" href="{{ img.img_data }}" class="photozoom view_link"><i class="icon-search"></i></a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="product_thumbs">
                                        <ul>
                                            {% for img in imagenes %}
                                                {% if img.img_es_principal == 1 %}
                                                    <li><a href="javascript:void(0)" class="current"><img style="width: 116px;height: 110px;" src="{{ img.img_data }}" alt=""/></a></li>
                                                {% else %}
                                                    <li><a href="javascript:void(0)"><img style="width: 116px;height: 110px;" src="{{ img.img_data }}" alt=""/></a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-7 summary animate" data-anim-type="fadeInRight" data-anim-delay="300">
                                	<h2 id="txtNombre" class="product_title">{{ producto.0.pro_nombre }}</h2>
                                    <input class="hide" type="text" value="{{ producto.0.pro_id }}" id="pro_id">
                                    <div class="star_rating">
                                        {% if producto.0.valoracion == 1 %}
                                           <i class="icon-star active"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                                        {% elif producto.0.valoracion == 2 %}
                                            <i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                                        {% elif producto.0.valoracion == 3 %}
                                            <i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star"></i><i class="icon-star"></i>
                                        {% elif producto.0.valoracion == 4 %}
                                            <i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star"></i>
                                        {% elif producto.0.valoracion == 5 %}
                                            <i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i>
                                        {% endif %}
                                    </div>
                                    {% if oferta %}
                                        <div id="txtPrecio" class="hide amount">${{ pre_oferta }}<span>${{ producto.pro_precio|unlocalize }}</span></div>
                                    {% else %}
                                        <div id="txtPrecio" class="hide amount">${{ producto.0.pro_precio|unlocalize }}</div>
                                    {% endif %}
                                    <p style="color: red;">Precio no incluye iva</p>
                                    <p>{{producto.0.pro_descripcion_corta}}</p>
                                    <div class="product_btns">
                                    	<div class="product_quantity">
                                        	<form class="cart" method="post" action="javascript:void(0);">
                                                <div class="quantity">
                                                    <a class="minus button" href="javascript:void(0);">-</a>
                                                    <input id="txtCantidad" class="input-text qty text" type="number" title="Qty" value="1" name="quantity" min="1" step="1" disabled>
                                                    <a class="plus button" href="javascript:void(0);">+</a>
                                                </div>
                                                <div class="clear"></div>
                                            </form>
                                            <input type="number" id="ctp" class="hide" disabled value="{{producto.0.pro_stock}}">
                                    	</div>
                                        {% if oferta %}
                                            <a href="javascript:void(0);" onclick="AddCar({{producto.0.pro_id}},'{{pre_oferta}}');" class="shortcode_button btn_small btn_type5 cart_btn"><i class="icon-shopping-cart"></i>Agregar al carrito</a>
                                        {% else %}
                                            <a href="javascript:void(0);" onclick="AddCar({{producto.0.pro_id}},'{{producto.0.pro_precio|unlocalize}}');" class="shortcode_button btn_small btn_type5 cart_btn"><i class="icon-shopping-cart"></i>Agregar al carrito</a>
                                        {% endif %}
                                    </div>
                                    <div class="product_meta">
                                        <span class="posted_in"><span>Categorias:</span>
                                            <a href="javascript:void(0);">{{categoria}}.</a>
                                        </span>
                                        <span class="posted_in"><span>Cantidad disponible:</span>
                                            <a href="javascript:void(0);">{{producto.0.pro_stock}}</a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% include "shop/menu_derecho.html" %}
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- Modal agregar carrito -->
    {% include "shop/modal_carrito.html" %}
    {% endblock content %} {% block js %}
    <script type="text/javascript" src="/static/proyecto/js/shop.js"></script>
    <script type="text/javascript" src="/static/js/tienda.js"></script>
    <script type="text/javascript" src="/static/js/modalShop.js"></script>
    <script type="text/javascript" src="/static/js/carrito.js"></script>
    <script type="text/javascript" src="/static/js/busquedas.js"></script>
    {% endblock js %}