{% extends "index.html" %}
{% block content %}
<script>
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == 'success' %}
                    alertify.set('notifier','position', 'top-right');
                    alertify.notify('{{ msg }}','success' ,10);
                {% else %}
                    alertify.set('notifier','position', 'top-right');
                    alertify.notify('{{ msg }}','error' ,10);
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
    <div id="content-block">
        <div class="container be-detail-container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <div class="be-large-post">
                        <div class="info-block style-2">
                            <div class="be-large-post-align"><div class="info-block-right"><button id="btn_guardar_producto" class="btn btn-flat btn-primary" type="button" onclick="modal_cliente()">AGREGAR</button><span class="num-data"></span></div><h3 class="info-block-label">Listado de Clientes</h3></div>
                        </div>
                        <div class="be-large-post-align">
                            <div class="table-responsive">
                                <table id="tablaProductos" name="tablaProductos" class="table table-sotring tablesorter">
                                    <thead>
                                      <tr>
                                        <th class="col-xs-1 text-center">
                                            Ruc u Cédula
                                        </th>
                                        <th class="col-xs-1 text-center">
                                            Nombres
                                        </th>
                                        <th class="col-xs-1 text-center">
                                            Correo
                                        </th>
                                        <th class="col-xs-5">Acciones</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for clt in listaClientes %}
                                      <tr>
                                        <td class="text-center"><strong>{{clt.ruc_cedula}}</strong></td>
                                        <td class="text-center"><strong>{{clt.nombre}} {{clt.apellido}}</strong></td>
                                        <td class="text-center"><strong>{{clt.correo}}</strong></td>
                                        <td>
                                            <a href="#" onclick="modificar_cliente('{{ clt.id }}', '/cli_modificar/')"  ><i class="fa fa-edit" ></i></a>
                                            <a href="#" onclick="eliminar_cliente('{{ clt.id }}', '/cli_modificar/')"  ><i class="fa fa-remove" ></i></a>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="modalCliente" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="post" action="/cli_guardar/" id="formCliente" enctype="multipart/form-data">{% csrf_token %}
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                Agregar Cliente
                            </h4>
                        </div>
                        <div class="modal-body">
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Ruc/Cédula</label>
                                <div class="col-sm-10">
                                    <input id="txt_cliente_ruc" name="txt_cliente_ruc"  type="text" class="form-control" required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                                </div>
                            </div>
                        </div>
                            <br/>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Nombre</label>
                                <div class="col-sm-10">
                                    <input id="txt_cliente_nombre" name="txt_cliente_nombre" maxlength="100" type="text" class="form-control"  required title='Rellene este campo.' x-moz-errormessage='Rellene este campo.' autocomplete="off">
                                </div>
                            </div>
                        </div>
                            <br/>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Apellido</label>
                                <div class="col-sm-10">
                                    <input id="txt_cliente_apellido" name="txt_cliente_apellido" maxlength="100" type="text" class="form-control" required title='Rellene este campo.' x-moz-errormessage='Rellene este campo.' autocomplete="off">
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Email</label>
                                <div class="col-sm-10">
                                        <input id="txt_cliente_email" name="txt_cliente_email" maxlength="100" type="text" class="form-control" required title='Rellene este campo.' x-moz-errormessage='Rellene este campo.' autocomplete="off">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="right" id="contenedor_btn_producto">

                            </div>
                        </div>
                    </div>

                </div>
            </form>
            </div>
<script type="text/javascript">
    // jQuery(document).ready(function() {
    //     // $('#msg-res').addClass('show');
    //     // $('#espera-res').removeClass("show");
    // });

    function eliminar_cliente(id, url){
        var mensaje = '¿Está seguro que desea eliminar: ';


    alertify.confirm(mensaje, function (){
        $.ajax({
                data: {'codigo': id},
                url: '/cli_eliminar/',
                type: 'get',
                success: function (data) {
                    $("#tablaProductos").load(location.href+" #tablaProductos>*","");
                    if (data.result=="OK"){
                        alertify.set('notifier','position', 'top-right');
                        alertify.success(data.mensaje, 'success', 5);
                    }else{
                        alertify.set('notifier','position', 'top-right');
                        alertify.notify(data.mensaje, 'error', 5);
                    }
                }
            });
    }, function(){
    });

    }

    document.onload=inicioTabla()
        function inicioTabla(){

        }
function modificar_cliente(id, url){
    $.ajax({
        data: {'codigo': id},
        url: url,
        type: 'get',
        success: function (data) {
            if(data.length != 0){
                $("input[type=text]").focusin();
                $("#contenedor_btn_producto").empty();
                $("#titulo").html('Modificar Cliente');
                $("#contenedor_btn_producto").append('<button onclick="modificar_datos_cliente('+data[0].id+')" class="btn btn-flat" id="btn_modificar" type="button" style="background-color: #60962a;color: #ffffff">Guardar</button>')
                $("#txt_cliente_ruc").val(data[0].ruc);
                $("#txt_cliente_nombre").val(data[0].nombre);
                $("#txt_cliente_apellido").val(data[0].apellido);
                $("#txt_cliente_email").val(data[0].email);
                $('#modalCliente').modal({
                    show: 'true'
                });
            }else{
                alertify.set('notifier','position', 'top-right');
                alertify.error('Cliente no encontrado','error' ,10);
            }
        }
    });
}

function modificar_datos_cliente(id){
    $.ajax({
        data: {'id': id, 'txt_cliente_ruc':$("#txt_cliente_ruc").val(),
                'txt_cliente_nombre':$("#txt_cliente_nombre").val(),
            'txt_cliente_apellido':$("#txt_cliente_apellido").val(),
            'txt_cliente_email':$("#txt_cliente_email").val()},
        url: '/cli_modificar_guardar/',
        type: 'get',
        success: function (data) {
            $("#tablaProductos").load(location.href+" #tablaProductos>*","");
            $('#modalCliente').modal('hide');
            if (data.mensaje!="1"){
                alertify.set('notifier','position', 'top-right');
                alertify.notify('Actualizacion Exitosa', 'success', 5);
            }else{
                alertify.set('notifier','position', 'top-right');
                alertify.notify("Existe un error", 'error', 5);
            }
        }
    });
}
function modal_cliente(){
                                $('#formCliente')[0].reset();
                                $("#titulo_producto").html('Registrar Cliente');
                                $("#contenedor_btn_producto").empty();
                                $("#contenedor_btn_producto").append('<button class="btn btn-flat" type="submit" style="background-color: #60962a;color: #ffffff">Guardar</button>');
                                $('#modalCliente').modal({
                                show: 'true'
                                });
                                }
</script>
{% endblock %}
