<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<title>DayliSoft</title>
	<style type="text/css">
.ReadMsgBody { width: 100%; background-color: #ffffff; }
.ExternalClass { width: 100%; background-color: #ffffff; }
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
html { width: 100%; }
body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; margin: 0; padding: 0; }
table { border-spacing: 0; border-collapse: collapse; table-layout: fixed; margin: 0 auto; }
table table table { table-layout: auto; }
img { display: block !important; }
table td { border-collapse: collapse; }
.yshortcuts a { border-bottom: none !important; }
a { color: #21b6ae; text-decoration: none; }
.textbutton a { font-family: 'open sans', arial, sans-serif !important; color: #ffffff !important; }
.text-link a { color: #95a5a6 !important; }
 @media only screen and (max-width: 640px) {
body { width: auto !important; }
table[class="table600"] { width: 450px !important; }
table[class="table-inner"] { width: 90% !important; }
table[class="table3-3"] { width: 100% !important; text-align: center !important; }
}
 @media only screen and (max-width: 479px) {
body { width: auto !important; }
table[class="table600"] { width: 290px !important; }
table[class="table-inner"] { width: 82% !important; }
table[class="table3-3"] { width: 100% !important; text-align: center !important; }
}
</style>

</head>

<body>
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#494c50">
		<tr>
			<td align="center" background="images/bg.jpg" style="background-size:cover; background-position:top;">
				<table class="table600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td height="50"></td>
					</tr>

					<tr>
						<td height="40"></td>
					</tr>
					<tr>
						<td align="center">
							<table align="center" bgcolor="#FFFFFF" style="border-radius:4px; box-shadow: 0px -3px 0px #d4d2d2;" width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td height="50"></td>
								</tr>

								<tr>
									<td align="center">
										<table align="center" class="table-inner" width="500" border="0" cellspacing="0" cellpadding="0">
											<!-- title -->
											<tr>
												<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:36px; color:#3b3b3b; font-weight: bold; letter-spacing:4px;">Nuevo pedido registrado</td>
											</tr>
											<!-- end title -->

											<tr>
												<td align="center">
													<table width="25" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td height="20" style="border-bottom:2px solid #21b6ae;"></td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td height="20"></td>
											</tr>
											<!-- content -->
											<tr>
												<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#7f8c8d; line-height:30px;">
													Se ha registrado un pedido por un valor de ${{valor}} a nombre del usuario: {{usuario.us_nombre}} {{usuario.us_apellidos}}.
												</td>
											</tr>
											<!-- end content -->
										</table>
									</td>
								</tr>

								<tr>
									<td height="40"></td>
								</tr>

								<!-- button -->
								<tr>
									<td align="center">
										<table class="textbutton" align="center" bgcolor="#21b6ae" border="0" cellspacing="0" cellpadding="0" style=" border-radius:30px; box-shadow: 0px 1px 0px #d4d2d2;">
											<tr>
												<td height="55" align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:18px; color:#7f8c8d; line-height:30px; font-weight: bold;padding-left: 25px;padding-right: 25px;">
													<a href="http://www.daylisoft.com/dashboard/" target="_blank">Revisar dashboard</a>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<!-- end button -->

								<tr>
									<td height="45"></td>
								</tr>

								<!-- option -->
								<tr>
									<td align="center" bgcolor="#f3f3f3" style=" border-bottom-left-radius:4px; border-bottom-right-radius:4px;">
										<table align="center" class="table-inner" width="290" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td height="15"></td>
											</tr>
											<tr>
												<td class="text-link" align="center">

													<!-- left -->
													<table class="table3-3" width="80" border="0" align="left" cellpadding="0" cellspacing="0">
														<tr>
															<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#7f8c8d; line-height:30px;">
																<a href="http://www.daylisoft.com" target="_blank">Sitio web</a>
															</td>
														</tr>
													</table>
													<!-- end left -->

													<!--Space-->

													<table width="1" height="15" border="0" cellpadding="0" cellspacing="0" align="left">
														<tr>
															<td height="15" style="font-size: 0;line-height: 0;border-collapse: collapse;">
																<p style="padding-left: 24px;">&nbsp;</p>
															</td>
														</tr>
													</table>

													<!--End Space-->

													<!--Space-->

													<table width="1" height="15" border="0" cellpadding="0" cellspacing="0" align="left">
														<tr>
															<td height="15" style="font-size: 0;line-height: 0;border-collapse: collapse;">
																<p style="padding-left: 24px;">&nbsp;</p>
															</td>
														</tr>
													</table>

													<!--End Space-->

													<!-- right -->
													<table class="table3-3" width="80" border="0" align="right" cellpadding="0" cellspacing="0">
														<tr>
															<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#7f8c8d; line-height:30px;">
																<a href="http://www.daylisoft.com/portal/quienesSomos/" target="_blank">Equipo</a>
															</td>
														</tr>
													</table>
													<!-- end right -->

												</td>
											</tr>
											<tr>
												<td height="15"></td>
											</tr>
										</table>

									</td>
								</tr>
								<!-- end option -->

							</table>
						</td>
					</tr>
					<tr>
						<td align="center" style="line-height:0px;">
							<img style="display:block; line-height:0px; font-size:0px; border:0px;" src="images/point.png" width="42" height="22" alt="img" />
						</td>
					</tr>

					<tr>
						<td height="30"></td>
					</tr>

					<!-- profile-img -->
					<tr>
						<td align="center" style="line-height:0px;">
							<img style="display:block; line-height:0px; font-size:0px; border:0px;" src="images/profile.png" width="100" height="100" alt="img" />
						</td>
					</tr>
					<!-- end profile-img -->

					<tr>
						<td height="30"></td>
					</tr>

					<!-- social -->
					<tr>
						<td align="center">
							<table align="center" width="221" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td width="16" align="center" style="line-height:0xp;">
										<a href="http://www.facebook.com/daylisoft/" target="_blank">
											<img style="display:block; line-height:0px; font-size:0px; border:0px;" src="images/facebook.png" width="8" height="16"  alt=""/>
										</a>
									</td>
									<td width="25"></td>
									<td width="16" align="center" style="line-height:0xp;">
										<a href="http://twitter.com/daylisoft" target="_blank">
											<img style="display:block; line-height:0px; font-size:0px; border:0px;" src="images/twitter.png" width="16" height="13"  alt=""/>
										</a>
									</td>
									<td width="25"></td>
									<td width="16" align="center" style="line-height:0xp;">
										<a href="http://plus.google.com/u/0/109232023950965083720" target="_blank">
											<img style="display:block; line-height:0px; font-size:0px; border:0px;" src="images/google.png" width="15" height="16"  alt=""/>
										</a>
									</td>
									<td width="25"></td>
									<td width="16" align="center" style="line-height:0xp;">
										<a href="http://www.linkedin.com/in/dayli-soft-b8715a12a" target="_blank">
											<img style="display:block; line-height:0px; font-size:0px; border:0px;" src="images/linkedin.png" width="15" height="15"  alt=""/>
										</a>
									</td>
									<td width="25"></td>
									<td width="16" align="center" style="line-height:0xp;">
										<a href="http://www.behance.net/daylisfotc42c" target="_blank">
											<img style="display:block; line-height:0px; font-size:0px; border:0px;" src="images/behance.png" width="16" height="10"  alt=""/>
										</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<!-- end social -->

					<tr>
						<td height="30"></td>
					</tr>

					<!-- copyright -->
					<tr>
						<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#ffffff; line-height:30px;">Copyright © Daylisoft 2017, All rights reserved.</td>
					</tr>
					<!-- end copyright -->

					<tr>
						<td height="30"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>