{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% trans "BLoom: Perfil de la empresa" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'proyecto/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Fecha de pedido" %}:  {{ p.ped_fecha_pedido|date:'d-n-Y' }}</small>
                </h4>
                <p>$ {{ p.ped_total_pagar }}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% trans "Configuraciones generales" %}</h3>
                    </div>
                    <form role="form" enctype="multipart/form-data" id="formulario_ajustes_empresa" name="formulario_ajustes_empresa" onsubmit="return false;" method="post">{% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                <div class="box-body">
                                    <!-- Nombre de la empresa -->
                                    {% trans "Nombre de la empresa" as i18n_empresa_nombre %}
                                    <div class="form-group">
                                        <label>{{ i18n_empresa_nombre }} <span class="required">*</span></label>
                                        <input type="text" id="ajustes_empresa_nombre" name="ajustes_empresa_nombre" placeholder="{{ i18n_empresa_nombre }}" value="{{ perfil_empresa.per_nombre }}" class="form-control" maxlength="100" required>
                                    </div>
                                    <!-- Email de la empresa -->
                                    {% trans "Email" as i18n_empresa_email %}
                                    <div class="form-group">
                                        <label>{{ i18n_empresa_email }} <span class="required">*</span></label>
                                        <input type="text" id="ajustes_empresa_email" name="ajustes_empresa_email" placeholder="{{ i18n_empresa_email }}" value="{{ perfil_empresa.per_email }}" class="form-control" maxlength="100" required>
                                    </div>
                                    <!-- Direccion -->
                                    {% trans "Dirección" as i18n_empresa_direccion %}
                                    <div class="form-group">
                                        <label>{{ i18n_empresa_direccion }} <span class="required">*</span></label>
                                        <textarea id="ajustes_empresa_direccion" name="ajustes_empresa_direccion" class="form-control autogrow" maxlength="250" required
                                                  placeholder="{{ i18n_empresa_direccion }}" style="resize: none">{{ perfil_empresa.per_direccion }}</textarea>
                                    </div>
                                    <!-- Telefono -->
                                    {% trans "Teléfono" as i18n_empresa_telefono %}
                                    <div class="form-group">
                                        <label>{{ i18n_empresa_telefono }} <span class="required">*</span></label>
                                        <input type="text" id="ajustes_empresa_telefono" name="ajustes_empresa_telefono" placeholder="{{ i18n_empresa_telefono }}" value="{{ perfil_empresa.per_telefono }}" class="form-control" maxlength="30" required>
                                    </div>
                                    <!-- RUC -->
                                    {% trans "R.U.C" as i18n_empresa_ruc %}
                                    <div class="form-group">
                                        <label>{{ i18n_empresa_ruc }} <span class="required">*</span></label>
                                        <input type="text" id="ajustes_empresa_ruc" name="ajustes_empresa_ruc" placeholder="{{ i18n_empresa_ruc }}" value="{{ perfil_empresa.per_ruc }}" class="form-control" maxlength="20" required>
                                    </div>
                                    <!-- Logo actual -->
                                    <div class="form-group">
                                        <label>{% trans "Logo de la empresa" %}</label>
                                    </div>
                                    <div class="form-group" align="center" id="logo_empresa_actual">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <table border="0">
                                                <tr>
                                                    <td><div class="fileinput-new thumbnail g-logo-img"><img src="{{ perfil_empresa.per_logo.url }}"></div></td>
                                                </tr>
                                                <tr>
                                                    <td><button onclick="cambiar_logo()" id="btn_perfil_cambiar_logo" class="btn btn-block bg-navy">{% trans "Cambiar logo" %}</button></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                     <!-- Logo -->
                                    <div align="center" class="form-group" id="logo_empresa_nuevo" style="display: none">
                                        <table border="0">
                                            <tr><td><button onclick="restablecer_logo()" id="btn_perfil_restablecer_logo" class="btn btn-block bg-navy">{% trans "Restablecer logo" %}</button></td></tr>
                                        </table>
                                        <br>
                                        <input id="id_imagen_logo_nueva" name="id_imagen_logo_nueva" class="file" accept="image/*" type="file">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer" align="center">
                            <button id="btn_perfil_empresa" onclick="ajus_actualizar_empresa('{% url "dashboard_app:url_actualizar_perfil_empresa" %}')" class="btn bg-light-blue" type="submit">{% trans "Guardar cambios" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_ajustes').addClass("active");
            $('#menu_ajustes_empresa').addClass("active");
            $('#menu_ajustes_empresa').children('a').removeAttr('href');
        });

        //Subida de magen
        $("#id_imagen_logo_nueva").fileinput({
            allowedFileExtensions: ["jpg", "jpeg", "png", "gif"],
            removeLabel: "{% trans 'Eliminar' %}",
            browseLabel: "{% trans 'Buscar...' %}",
            maxFileSize: 1024,
            minFileCount: 0,
            maxFileCount: 1,
            showUpload: false
        });

        function cambiar_logo() {
            $("#logo_empresa_actual").hide();
            $("#logo_empresa_nuevo").show();
        }

        function restablecer_logo() {
            $("#logo_empresa_actual").show();
            $("#logo_empresa_nuevo").hide();
        }
    </script>
{% endblock scripts %}