{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}

{% block titulo %}{% trans "BLoom: Reglas de impuesto" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% trans "Reglas de impuesto" %}</h3>
                    </div>
                    <div class="box-background">
                        <form id="formulario_ajustes_impuesto" name="formulario_ajustes_impuesto" role="form" enctype="multipart/form-data" method="post" onsubmit="return false;" novalidate>{% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    <div class="box-body">
                                        {% trans "Nombre del impuesto" as i18n_nombre_impuesto%}
                                        <input id="ajustes_id_impuesto" name="ajustes_id_impuesto" type="hidden">
                                        <!-- Nombre -->
                                        <div class="form-group">
                                            <label>{{ i18n_nombre_impuesto }} </label><span class="required">*</span>
                                            <input id="ajustes_impuesto_nombre" name="ajustes_impuesto_nombre" type="text" placeholder="{{ i18n_nombre_impuesto }}" class="form-control" maxlength="100" required>
                                        </div>
                                        {% trans "Porcentaje (%)" as i18n_porcentaje_impuesto%}
                                        <!-- Porcentaje -->
                                        <div class="form-group">
                                            <label>{{ i18n_porcentaje_impuesto }} </label><span class="required">*</span>
                                            <input id="ajustes_impuesto_porcentaje" name="ajustes_impuesto_porcentaje" type="text" placeholder="{{ i18n_porcentaje_impuesto }}" class="form-control" maxlength="100" required>
                                        </div>
                                        <button id="btn_guardar_impuesto" type="submit" onclick="ajus_agregar_impuesto('{% url "dashboard_app:url_agregar_impuestos" %}')" class="btn bg-light-blue">{% trans "Guardar" %}</button>
                                        <button type="button" onclick="reset_formulario('formulario_ajustes_impuesto','ajustes_impuesto_nombre')" class="btn btn-default">{% trans "Cancelar" %}</button><br/><br/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer"></div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <!-- Tabla -->
                            <table class="table table-bordered table-striped" id="tabla_impuesto" cellspacing="0" width="100%">
                                <thead >
                                    <tr>
                                        <th class="active">{% trans "Impuesto actual" %}</th>
                                        <th class="active">{% trans "Nombre del impuesto" %}</th>
                                        <th class="active">{% trans "Porcentaje" %}</th>
                                        <th class="active" style="width: 50px;">{% trans "Acción" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in impuesto %}
                                    <tr class="custom-tr">
                                        <td class="vertical-td">
                                            <div class="radio">
                                                <label><input onchange="ajus_impuesto_actual('{% url "dashboard_app:url_impuesto_actual" %}?id={{ i.imp_id }}')" type="radio" value="{{ i.imp_id }}" name="impuesto_actual" {% if i.imp_actual == 1 %}checked{% endif %}> {% trans "Seleccionar" %}</label>
                                            </div>
                                        </td>
                                        <td class="vertical-td">{{ i.imp_nombre}}</td>
                                        <td class="vertical-td">{{ i.imp_porcentaje|unlocalize}} %</td>
                                        <td class="vertical-td">
                                            <div class="btn-group">
                                                <button onclick="ajus_cargar_impuesto('{% url "dashboard_app:url_cargar_impuestos" %}', {{ i.imp_id }}, this)" class="btn bg-navy btn-xs" title="{% trans 'Editar' %}"><i class="glyphicon glyphicon-edit"></i></button>
                                                <button onclick="prod_eliminar_objetos('{% url "dashboard_app:url_eliminar_impuestos" %}?id={{ i.imp_id }}', 'IVA', 'tabla_impuesto', this)" class="btn btn-danger btn-xs" title="{% trans 'Eliminar' %}"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_ajustes').addClass("active");
            $('#menu_ajustes_impuesto').addClass("active");
            $('#menu_ajustes_impuesto').children('a').removeAttr('href');

            var table = $('#tabla_impuesto').DataTable( {
                lengthChange: false,
                bSort: false
            });
        });
    </script>
{% endblock scripts %}
