{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% trans "BLoom: Marcas de producto" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% trans "Marcas de producto" %}</h3>
                    </div>
                    <div class="box-background">
                        <form id="formulario_producto_marca" name="formulario_producto_marca" role="form" enctype="multipart/form-data" method="post" onsubmit="return false;">{% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    <div class="box-body">
                                        {% trans "Nombre de la marca" as i18n_nombre_marca_producto%}
                                        <!-- Nombre -->
                                        <div class="form-group">
                                            <label>{{ i18n_nombre_marca_producto }} </label><span class="required">*</span>
                                            <input id="marca_producto" name="marca_producto" type="text" placeholder="{{ i18n_nombre_marca_producto }}" class="form-control" maxlength="50" required>
                                        </div>
                                        <button onclick="ajus_agregar_marcas('{% url "dashboard_app:url_agregar_marca" %}')" id="btn_guardar_marca" type="submit" class="btn bg-light-blue">{% trans "Guardar" %}</button>
                                        <button type="button" onclick="ajus_cancelar_marca()" class="btn btn-default">{% trans "Cancelar" %}</button><br/><br/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer"></div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <!-- Tabla -->
                            <table class="table table-bordered table-striped" id="tabla_marcas" cellspacing="0" width="100%">
                                <thead >
                                    <tr>
                                        <th class="active" style="width: 35px;">{% trans "Cód." %}</th>
                                        <th class="active">{% trans "Nombre de la marca" %}</th>
                                        <th class="active" style="width: 50px;">{% trans "Acción" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for m in marcas %}
                                    <tr class="custom-tr">
                                        <td class="vertical-td">{{ m.mar_id }}</td>
                                        <td class="vertical-td">{{ m.mar_nombre }}</td>
                                        <td class="vertical-td">
                                            <div class="btn-group">
                                                <button onclick="ajus_cargar_marcas('{% url "dashboard_app:url_cargar_marca" %}?id={{ m.mar_id }}', this)" class="btn bg-navy btn-xs" title="{% trans 'Editar' %}"><i class="glyphicon glyphicon-edit"></i></button>
                                                <button onclick="prod_eliminar_objetos('{% url "dashboard_app:url_eliminar_marca" %}?id={{ m.mar_id }}', 'CC', 'tabla_marcas', this)" class="btn btn-danger btn-xs" title="{% trans 'Eliminar' %}"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_ajustes').addClass("active");
            $('#menu_ajustes_categorias').addClass("active");
            $('#menu_ajustes_marcas_administrar').addClass("active");
            $('#menu_ajustes_marcas_administrar').children('a').removeAttr('href');

            var table = $('#tabla_marcas').DataTable( {
                lengthChange: false
            });

            $("#menu_ajustes_marcas_administrar").data("test", {marca_id: ""});
        });
    </script>
{% endblock scripts %}