{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% trans "BLoom: Notificaciones de stock mínimo" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_ver %}
    <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% trans "Notificación de productos" %}</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-striped" id="tabla_notificaciones_stock">
                            <thead >
                            <tr>
                                <th class="active">{% trans "Imagen" %}</th>
                                <th class="active">{% trans "Cód." %}</th>
                                <th class="active">{% trans "Nombre del producto" %}</th>
                                <th class="active">{% trans "Marca" %}</th>
                                <th class="active">{% trans "Stock actual" %}</th>
                                <th class="active">{% trans "Stock mínimo" %}</th>
                                <th class="active">{% trans "Acción" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in notif_stock %}
                                <tr class="custom-tr">
                                    <td class="product-img" style="text-align: center; width: 100px">
                                        <img src="{% if p.pro_imagen_principal %}
                                        {% for i in p.pro_imagen_principal %}
                                            {{ i.img_data.url }}
                                        {% endfor %}
                                        {% else %}{% static 'proyecto/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                                    </td>
                                    <td class="vertical-td" style="text-align: center; width: 50px;">{{ p.pro_id }}</td>
                                    <td class="vertical-td" style="text-align: center; width: 390px;">{{ p.pro_nombre }}</td>
                                    <td class="vertical-td" style="text-align: center; width: 210px;">{{ p.mar_id.mar_nombre }}</td>
                                    <td class="vertical-td" style="text-align: center; width: 70px;"><span style="font-size: 14px" class="label label-warning">{{ p.pro_stock }}</span></td>
                                    <td class="vertical-td" style="text-align: center; width: 70px;"><span style="font-size: 14px" class="label label-danger">{{ p.pro_stock_minimo }}</span></td>
                                    <td class="vertical-td" style="text-align: center; width: 60px;"><a href="#" class="btn bg-navy btn-xs" title="{% trans 'Editar' %}"><i class="glyphicon glyphicon-edit"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_ajustes').addClass("active");
            $('#menu_ajustes_notificaciones').addClass("active");
            $('#menu_ajustes_notificaciones_stock').addClass("active");
            $('#menu_ajustes_notificaciones_stock').children('a').removeAttr('href');

            var table = $('#tabla_notificaciones_stock').DataTable( {
                pageLength: 15,
                dom: 'Bfrtip',
                bSort: false,
                buttons: [
                    {
                        extend: 'print',
                        exportOptions: {columns: ':visible'}
                    },
                    {
                        extend: 'excel',
                        exportOptions: {columns: ':visible'},
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {columns: ':visible'},
                    },
                    {
                        extend: 'copy',
                        exportOptions: {columns: ':visible'},
                    },
                    'colvis'
                ]
            } );
        });
    </script>
{% endblock scripts %}