{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% trans "BLoom: Empresas de transporte" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'proyecto/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% trans "Empresas de transporte" %}</h3>
                    </div>
                    <div class="box-background">
                        <form id="formulario_ajustes_transporte" name="formulario_ajustes_transporte" role="form" enctype="multipart/form-data" method="post" onsubmit="return false;">{% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    <div class="box-body">
                                        {% trans "Nombre de la empresa" as i18n_nombre_transporte%}
                                        <!-- Nombre -->
                                        <div class="form-group">
                                            <label>{{ i18n_nombre_transporte }} </label><span class="required">*</span>
                                            <input id="ajustes_transporte_nombre" name="ajustes_transporte_nombre" type="text" placeholder="{{ i18n_nombre_transporte }}" class="form-control" maxlength="50" required>
                                        </div>
                                        {% trans "Costo de envío" as i18n_costo%}
                                        <!-- Costo -->
                                        <div class="form-group">
                                            <label>{{ i18n_costo }} </label><span class="required">*</span>
                                            <input id="ajustes_transporte_costo" name="ajustes_transporte_costo" type="text" placeholder="{{ i18n_costo }}" class="form-control" required>
                                        </div>
                                        {% trans "Dirección URL" as i18n_url%}
                                        <!-- Url -->
                                        <div class="form-group">
                                            <label>{{ i18n_url }} </label><span class="required">*</span>
                                            <input id="ajustes_transporte_url" name="ajustes_transporte_url" type="text" placeholder="{{ i18n_url }}" class="form-control" maxlength="50" required>
                                        </div>
                                        <button id="btn_guardar_transporte" type="submit" onclick="ajus_agregar_transporte('{% url "dashboard_app:url_agregar_transporte" %}')" class="btn bg-light-blue">{% trans "Guardar" %}</button>
                                        <button type="button" onclick="ajus_cancelar_accion()" class="btn btn-default">{% trans "Cancelar" %}</button><br/><br/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer"></div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <!-- Tabla -->
                            <table class="table table-bordered table-striped" id="tabla_transporte" cellspacing="0" width="100%">
                                <thead >
                                    <tr>
                                        <th class="active">{% trans "Nombre de la empresa de transporte" %}</th>
                                        <th class="active">{% trans "Costo" %}</th>
                                        <th class="active">{% trans "Dirección URL" %}</th>
                                        <th class="active" style="width: 50px;">{% trans "Acción" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for t in transporte %}
                                    <tr class="custom-tr">
                                        <td class="vertical-td">{{ t.trans_nombre }}</td>
                                        <td class="vertical-td">$ {{ t.trans_costo }}</td>
                                        <td class="vertical-td">{{ t.trans_url }}</td>
                                        <td class="vertical-td">
                                            <div class="btn-group">
                                                <button class="btn bg-navy btn-xs" title="{% trans 'Editar' %}" onclick="ajus_cargar_transporte('{% url "dashboard_app:url_cargar_transporte" %}?id={{ t.trans_id }}', this)"><i class="glyphicon glyphicon-edit"></i></button>
                                                <button class="btn btn-danger btn-xs" title="{% trans 'Eliminar' %}" onclick="prod_eliminar_objetos('{% url "dashboard_app:url_eliminar_transporte" %}?id={{ t.trans_id }}', 'TT', 'tabla_transporte', this)"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_ajustes').addClass("active");
            $('#menu_ajustes_transporte').addClass("active");
            $('#menu_ajustes_transporte').children('a').removeAttr('href');

            var table = $('#tabla_transporte').DataTable( {
                lengthChange: false
            });

            $("#menu_ajustes_transporte").data("test", {transporte_id: ""});
        });
    </script>
{% endblock scripts %}