<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta name="google-site-verification" content="4WgH8aOZxb9QTH_aR5zQAONOVCQ3HX53WseQ29Zjg-M" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="/static/assets/img/logo.jpg">
    <link rel="apple-touch-icon" href="/static/proyecto/img/apple_icons_57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/proyecto/img/apple_icons_72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/proyecto/img/apple_icons_114x114.png">
    <title>Bloom | Productos de Salud</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100,400italic,700,500,900" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/proyecto/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/proyecto/css/theme.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/proyecto/css/revslider.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/proyecto/css/custom.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/proyecto/css/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/proyecto/sweetAlert/sweetalert.css" rel="stylesheet">
    <style type="text/css">
        .input-group-addon {
            padding: 6px 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: #f3fafc;
            text-align: center;
            background-color: #22a1c4;
            border: 1px solid #9ba1ac;
            border-radius: 4px;
        }
    </style>
    {% block css %}{% endblock css %}

</head>
<body>
    <div class="main_header type1">
        <div class="tagline">
            <div class="container">
                <div class="fright">
                    <div class="tagline_items">
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                                <div class="log_in_out"><a href="/dashboard/"><i class="icon-user"></i> Hola {{ user.username|capfirst }}</a></div>
                            {% else %}
                                <div class="log_in_out"><a href="#"><i class="icon-user"></i> Hola {{ user.username|capfirst }}</a></div>
                            {% endif %}
                        <div class="log_in_out"><a href="/shop/pedidos"><i class="icon-shopping-cart"></i> Pedidos</a></div>
                        <div class="log_in_out"><a href="/user/salir"><i class="icon-sign-out"></i> Salir</a></div>
                        {% else %}
                        <div class="log_in_out"><a href="javascript:void(0);" onclick="modalReg();" data-target=".login_popup"><i class="icon-sign-in"></i> Login</a></div>

                        {% endif %}
                        <!-- Modal inicio de sesion -->
                        <div id="modalReg" class="modal fade login_popup" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <h3>Iniciar Sesión</h3>
                                    <div class="row">
                                        <div id="cuentaNoActiva" class="col-sm-12 module_cont pb20 module_messageboxes fadeInRight hide" data-anim-type="fadeInRight" data-anim-delay="250">
                                            <div class="module_content shortcode_messagebox box_type3">
                                                <div class="box_content">
                                                    <p><span class="box_icon"><i class="icon-exclamation"></i></span>Su cuenta aun no ha sido activada, por favor revise su correo.</p>
                                                </div>
                                                <a class="box_close" href="javascript:void(0)"><i class="icon-times"></i></a>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div id="noCuentaReg" class="col-sm-12 module_cont pb20 module_messageboxes fadeInRight hide" data-anim-type="fadeInRight" data-anim-delay="250">
                                            <div class="module_content shortcode_messagebox box_type5">
                                                <div class="box_content">
                                                    <p><span class="box_icon"><i class="icon-warning"></i></span>La cuenta con la que intenta ingresar no esta registrada.</p>
                                                </div>
                                                <a class="box_close" href="javascript:void(0)"><i class="icon-times"></i></a>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <form id="form_login">{% csrf_token %}

                                        <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-male"></i>
                                                    </span>
                                                    <input class="form-control" type="text" placeholder="Usuario*" value="" name="name" id="txt_username">
                                                </div>
                                        </div>

                                        <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-unlock-alt"></i>
                                                    </span>
                                                    <input class="form-control" type="password" placeholder="Contraseña*" value="" name="password" id="txt_pass">
                                                </div>
                                        </div>

                                        <input type="submit" value="Log In">
                                    </form>
                                    <div class="forgot_password"></div>
                                    <div>No tiene cuenta? <a href="javascript:void(0)" onclick="modalRegistro();">Cree una</a></div>
                                    <button type="button" class="close_popup" data-dismiss="modal"><i class="icon-times"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- Modal receteo de contraseña -->
                        <div id="modalRes" class="modal fade login_popup" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <h3>Resetear Contraseña</h3>
                                    <div class="row">
                                        <div id="msg-no-mail" class="col-sm-12 module_cont pb20 module_messageboxes fadeInRight hide" data-anim-type="fadeInRight" data-anim-delay="250">
                                            <div class="module_content shortcode_messagebox box_type5">
                                                <div class="box_content">
                                                    <p><span class="box_icon"><i class="icon-warning"></i></span>Lo sentimos no tenemos una cuenta registrada con ese email.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div id='msg-envio' class="module_cont pb20 module_messageboxes animate fadeInLeft hide" data-anim-type="fadeInLeft" data-anim-delay="250">
                                            <div class="module_content shortcode_messagebox box_type4">
                                                <div class="box_content">
                                                    <p><span class="box_icon"><i class="icon-thumbs-o-up"></i></span>Su proceso a sido completado con exito!, por favor diríjase a su correo para resetar su contraseña.</p>
                                                </div>
                                                <a class="box_close" href="javascript:void(0)"><i class="icon-times"></i></a>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <center><i id="espera-reseteo" class="hide fa fa-spinner fa-pulse fa-3x fa-fw"></i><br></center>
                                    </div>
                                    <form id="form_res">{% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                <input class="form-control" type="email" placeholder="Email*" value="" name="email" id="email_res" required>
                                            </div>
                                        </div>
                                        <div class="forgot_password"></div>
                                        <center><input type="submit" value="Resetear Contraseña"></center>
                                    </form>
                                    <button type="button" class="close_popup" data-dismiss="modal"><i class="icon-times"></i></button>
                                </div>
                            </div>
                        </div>

                        <!-- Modal registro de usuario -->
                        <div id="modalRegistro" class="modal fade login_popup" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <h3>Registro de Usuario</h3>
                                    <div class="row">
                                        <div id='msg' class="module_cont pb20 module_messageboxes animate fadeInLeft hide" data-anim-type="fadeInLeft" data-anim-delay="250">
                                            <div class="module_content shortcode_messagebox box_type4">
                                                <div class="box_content">
                                                    <p><span class="box_icon"><i class="icon-thumbs-o-up"></i></span>Su cuenta ha sido creada, por favor revise su bandeja de entrada, se le enviará un correo para su activación.</p>
                                                </div>
                                                <a class="box_close" href="javascript:void(0)"><i class="icon-times"></i></a>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <center><i id="espera" class="hide fa fa-spinner fa-pulse fa-3x fa-fw"></i><br></center>
                                    </div>
                                        <form id="form_registro" class="m-t" role="form">{% csrf_token %}
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                @
                                                            </span>
                                                            <input type="text" class="form-control" placeholder="Nombre de usuario" name="username" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">

                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            <input type="email" class="form-control" placeholder="Email" name="email" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-male"></i>
                                                            </span>
                                                            <input type="text" class="form-control" placeholder="Nombre" name="nombre" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-fax"></i>
                                                            </span>
                                                            <input type="text" class="form-control" placeholder="Teléfono o móvil" name="telf" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-male"></i>
                                                            </span>
                                                            <input type="text" class="form-control" placeholder="Apellido" name="apellido" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-unlock-alt"></i>
                                                            </span>
                                                            <input id="password" type="password" data-toggle="password" class="form-control" placeholder="Password" name="cont" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox i-checks">
                                                    <label>
                                                        <input type="checkbox" required=""><i></i> Estoy de acuerdo a los terminos y servicios. </label>
                                                </div>
                                            </div>
                                            <div class="forgot_password"></div>
                                            <input type="submit" value="Registrar">
                                        </form>
                                    <button type="button" class="close_popup" data-dismiss="modal"><i class="icon-times"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fleft">
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="header_parent_wrap">
            <header>
                <div class="container">
                    <a class="top_menu_toggler" href="javascript:void(0)"></a>
                    <div class="logo_sect">
                        <a href="/" class="logo"><img src="/static/assets/img/logo.jpg" width="100" height="100" class="logo_def" alt=""/><img src="/static/assets/img/spa.png" class="logo_retina" alt=""/></a>
                    </div>
                    <nav>
                        <ul class="menu">
                            <li class="menu-item"><a href="/shop/productos/">Comprar</a>
                            <li class="menu-item"><a href="/shop/ver_carrito/"><i class="icon-shopping-cart">Compras</i></a>
                            </li>
                            </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
            </header>
        </div>
    </div>
    {% block content %}{% endblock content %}
    <div class="fixed-menu"></div>
    <script type="text/javascript" src="/static/proyecto/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/proyecto/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/proyecto/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/proyecto/js/modules.js"></script>
    <script type="text/javascript" src="/static/proyecto/js/theme.js"></script>
    <script type="text/javascript" src="/static/proyecto/js/color_panel.js"></script>
    <script type="text/javascript" src="/static/proyecto/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/static/proyecto/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Toastr script -->
    <script src="/static/proyecto/sweetAlert/sweetalert.min.js"></script>
    <script src="/static/proyecto/js/toastr.min.js"></script>
    <script src="/static/proyecto/js/bootstrap-show-password.js"></script>
    <script src="/static/js/users.js"></script>
    {% block js %}{% endblock js %}
    <script type="text/javascript">
    // document.oncontextmenu = function(){return false;}
    </script>
    <script type="text/javascript">
    document.onload = inicio();
    function inicio() {
        $('#password').password('toggle');
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == 'success' %}
                    toastr.options={"progressBar": true}
                    toastr.success('{{ msg }}','Estado')
                {% else %}
                    {% if msg.tags == 'warning' %}
                        toastr.options={"progressBar": true ,"showDuration": "500", "hideDuration": "3000", "timeOut": "10000","extendedTimeOut": "3000"}
                        toastr.warning('{{ msg }}','Estado')
                    {% else %}
                        toastr.options={"progressBar": true}
                        toastr.error('{{ msg }}','Estado')
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    }
    jQuery(document).ready(function() {
        "use strict";
        jQuery('.fullscreen_slider').show().revolution({
            delay: 5000,
            startwidth: 1170,
            startheight: 765,
            fullWidth: "off",
            fullScreen: "on",
            navigationType: "bullet",
            fullScreenOffsetContainer: ".main_header",
            fullScreenOffset: ""
        });
    });

    $('#form_login').on("submit",function(){
        $('#noCuentaReg').removeClass('show');
        $('#cuentaNoActiva').removeClass('show');
        event.preventDefault();
        $.ajax({
            type:"POST",
            url: "/user/login/",
            dataType: 'json',
            data:$(this).serialize(),
            success: function(response){
                if(response.msg === 'ok'){
                    location.href='/';
                }else if (response.msg === 'noActivo'){
                    $('#cuentaNoActiva').addClass('show');
                }else{
                    $('#noCuentaReg').addClass('show');
                }
            },

            error: function(){
                console.log('Error');
            }
        });
    });
    </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82803118-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '573156632868467',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script>
$.fn.extend({
    treed: function (o) {

      var openedClass = 'glyphicon-minus-sign';
      var closedClass = 'glyphicon-plus-sign';
      var sinHijos = 'glyphicon-minus-sign';

      if (typeof o != 'undefined'){
        if (typeof o.openedClass != 'undefined'){
        openedClass = o.openedClass;
        }
        if (typeof o.closedClass != 'undefined'){
        closedClass = o.closedClass;
        }
      };

        //initialize each of the top levels
        var tree = $(this);
        tree.addClass("tree");
        tree.find('li').has("ul").each(function () {
            var branch = $(this); //li with children ul
            branch.prepend("<i class='indicator glyphicon " + closedClass + "'></i>");
            branch.addClass('branch');
            branch.on('click', function (e) {
                if (this == e.target) {
                    var icon = $(this).children('i:first');
                    icon.toggleClass(openedClass + " " + closedClass);
                    $(this).children().children().toggle();
                }
            })
            branch.children().children().toggle();
        });
        //fire event from the dynamically added icon
      tree.find('.branch .indicator').each(function(){
        $(this).on('click', function () {
            $(this).closest('li').click();
        });
      });
        //fire event to open branch if the li contains an anchor instead of text
        tree.find('.branch>a').each(function () {
            $(this).on('click', function (e) {
                // $(this).closest('li').click();
                // e.preventDefault();
            });
        });
        //fire event to open branch if the li contains a button instead of text
        tree.find('.branch>button').each(function () {
            $(this).on('click', function (e) {
                $(this).closest('li').click();
                e.preventDefault();
            });
        });
    }
});

//Initialization of treeviews

$('#tree1').treed();

$('#tree2').treed({openedClass:'glyphicon-folder-open', closedClass:'glyphicon-folder-close'});
//
$('#tree3').treed({openedClass:'glyphicon-chevron-right', closedClass:'glyphicon-chevron-down'});
</script>
</body>

</html>
