{% extends "base.html" %} {% load static %} {% block css %} {% endblock css %} {% block content %}

    <div class="wrapper">
        <div class="container">
            <div class="content_block row no-sidebar">
                <div class="fl-container">
                    <div class="posts-block">
                        <div class="contentarea">
                            <!-- Slider -->
                            <div class="fw_block bg_start wall_wrap">
                                <div class="row">
                                    <div class="col-sm-12 first-module module_slider module_cont pb0">
                                        <div class="slider_container">
                                            <div class="fullscreen_slider slider_bg type2">
                                                <ul>
                                                    <!-- SLIDE 1 -->
                                                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
                                                        <img src="/static/proyecto/img/slider/transparent.png" alt="slide3" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
                                                        <!-- LAYER NR. 1 -->
                                                        <div class="tp-caption lfb ltb slide_left_img z_index2"
                                                           data-x="0"
                                                           data-y="-67"
                                                           data-speed="1500"
                                                           data-start="500"
                                                           data-easing="Power3.easeInOut"
                                                           data-endspeed="300"><img src="/static/proyecto/img/slider/success.jpg" alt=""/>
                                                        </div>

                                                        <!-- LAYER NR. 2 -->
                                                        <div class="tp-caption lft ltt tp-resizeme slide_title"
                                                            data-x="412"
                                                            data-y="235"
                                                            data-speed="600"
                                                            data-start="1200"
                                                            data-easing="Power4.easeOut"
                                                            data-endspeed="300"
                                                            data-endeasing="Power4.easeIn">Listo para comprar?
                                                        </div>

                                                        <!-- LAYER NR. 3 -->
                                                      <div class="tp-caption lfb ltb tp-resizeme slide_descr"
                                                           data-x="581"
                                                           data-y="366"
                                                           data-speed="600"
                                                           data-start="1200"
                                                           data-easing="Power4.easeOut"
                                                           data-endspeed="600"
                                                           data-endeasing="Power4.easeIn">Tiempo perfecto ahora!
                                                      </div>

                                                      <!-- LAYER NR. 4 -->
                                                      <div class="tp-caption lfb ltb tp-resizeme slide_btn type3"
                                                           data-x="617"
                                                           data-y="449"
                                                           data-speed="800"
                                                           data-start="1400"
                                                           data-easing="Power4.easeOut"
                                                           data-endspeed="600"
                                                           data-endeasing="Power4.easeIn"><a href="/shop/productos/">Productos</a>
                                                      </div>

                                                      <!-- LAYER NR. 5 -->
                                                      <div class="tp-caption lfb ltb tp-resizeme slide_btn type4"
                                                           data-x="807"
                                                           data-y="449"
                                                           data-speed="800"
                                                           data-start="1500"
                                                           data-easing="Power4.easeOut"
                                                           data-endspeed="600"
                                                           data-endeasing="Power4.easeIn"><a href="/shop/ver_carrito/">Carrito de Compras</a>
                                                      </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %} {% block js %} {% endblock js %}
