{% extends "index.html" %}
{% block content %}
<script>
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == 'success' %}
                    alertify.set('notifier','position', 'top-right');
                    alertify.notify('{{ msg }}','success' ,10);
                {% else %}
                    alertify.set('notifier','position', 'top-right');
                    alertify.notify('{{ msg }}','error' ,10);
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
    <div id="content-block">
        <div class="container be-detail-container">
            <div class="row">
                        <div class="col-md-12">
                            <form method="post" action="/users/guardarPerfil/"  id="formUbicacion" class="form-horizontal">{% csrf_token %}
                                <section class="panel">

                                    <div class="panel-body">
                                        <div class="validation-message">
                                            <ul></ul>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Nombre de Usuario <span class="required"></span></label>
                                            <div class="col-sm-9">
                                                <input type="text" name="username" class="form-control" title="Por favor ingrese nombre de usuario." placeholder="{{user.username}}" value="{{user.username}}" disabled="true" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Nombre <span class="required">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" name="nombre" class="form-control" title="Por favor ingrese nombre." placeholder="{{user.first_name}}" value="{{user.first_name}}" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Apellidos<span class="required">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" name="apellido" class="form-control" title="Por favor ingrese ellidos." placeholder="{{user.last_name }}" value="{{user.last_name }}" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Email<span class="required">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="email" name="email" class="form-control" title="Por favor ingrese email." placeholder="{{user.email}}" value="{{user.email}}" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-9 col-sm-offset-3">
                                                <input type="submit"  id="btn_modificar" value="Guardar" class="btn btn-primary">
                                            </div>
                                        </div>
                                    </footer>
                                </section>
                            </form>
                        </div>
                    </div>
        </div>
    </div>
            </div>

{% endblock %}
