{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% trans "Bienvenido a la administración de Bloom" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

{% block contenido %}
<section class="content">
    <div class="row">

        <div class="col-md-8">
            <div class="box">
                <div class="box-header box-header-background with-border">
                    <h3 class="box-title">{% trans "Últimos pedidos" %}</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        {% if pedidos %}
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>{% trans "#" %}</th>
                                    <th>{% trans "Cliente" %}</th>
                                    <th>{% trans "Fecha" %}</th>
                                    <th>{% trans "Estado" %}</th>
                                    <th>{% trans "Total" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for p in pedidos %}
                                <tr><!--Mostrar 8 pedidos  label-warning -->
                                    <td><a href="{% url 'dashboard_app:url_ver_detalle_pedido' id_ped=p.ped_id %}" title="{% trans 'Ver detalles' %}" target="_blank">{{ forloop.counter}}</a></td>
                                    <td>{{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</td>
                                    <td>{{ p.ped_fecha_pedido }}</td>
                                    <td><span class="label label-{% if p.ped_estado == 'cancelado' %}danger{% elif p.ped_estado == 'verificacion' %}info{% elif p.ped_estado == 'enviado' %}{{ p.ped_estado }}{% else %}warning{% endif %}">{{ p.ped_estado|upper }}</span></td>
                                    <td>$ {{ p.ped_total_pagar }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h4>{% trans 'No hay pedidos que mostrar' %}</h4>
                    {% endif %}
                    </div>
                </div>
                <div class="box-footer clearfix">
                    {% if pedidos %}
                    <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}" class="btn btn-sm bg-light-blue btn-flat pull-left">{% trans "Atender pedidos" %}</a>
                    <a href="{% url 'dashboard_app:url_listar_pedidos' %}" class="btn btn-sm bg-purple btn-flat pull-right">{% trans "Ver todos los pedidos" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {% trans "Más información" as i18n_mas_informacion%}
            <div class="info-box bg-yellow">
                    <div class="info-box">
                        <span class="info-box-icon bg-blue"><i class="fa fa-desktop"></i></span>
                        <div class="info-box-content box-color">
                            <span class="info-box-text">{% trans "Productos" %}</span>
                            <span class="info-box-number">{{ productos|length }}</span>
                            <a href="{% url 'dashboard_app:url_listar_productos' %}" class="small-box-footer">{{ i18n_mas_informacion }} <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
            </div>
            <div class="info-box bg-green">
                <div class="info-box">
                    <span class="info-box-icon bg-olive"><i class="glyphicon glyphicon-shopping-cart"></i></span>
                    <div class="info-box-content box-color">
                        <span class="info-box-text">{% trans "Pedidos" %}</span>
                        <span class="info-box-number">{{ pedidos|length }}</span>
                        <a href="{% url 'dashboard_app:url_listar_pedidos' %}" class="small-box-footer">{{ i18n_mas_informacion }} <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="info-box bg-aqua">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>
                    <div class="info-box-content box-color">
                        <span class="info-box-text">{% trans "Clientes" %}</span>
                        <span class="info-box-number">{{ clientes|length }}</span>
                        <a href="{% url 'dashboard_app:url_listar_clientes' %}" class="small-box-footer">{{ i18n_mas_informacion }} <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_inicio').addClass("active");
            $('#menu_inicio').children('a').removeAttr('href');

            //Muestra alerta en caso de existir notificaciones
            toastr.options = {
                "progressBar": true,
                "showDuration": "1500",
                "hideDuration": "8000",
                "timeOut": "11000",
                "extendedTimeOut": "15000",
                "closeButton": true,
            };
            {% if alerta_notificaciones %}
                toastr.info("{{ alerta_notificaciones }}.", '¡Atención!');
            {% endif %}
        });
    </script>
{% endblock scripts %}