{% extends "base.html" %} {% load static %} {% block css %} {% endblock css %} {% block content %}
<br>
<div class="col-sm-offset-4 col-sm-4 module_cont module_iconboxes animate fadeIn" data-anim-type="fadeIn" data-anim-delay="500">
    <div class="module_content shortcode_iconbox">
        <a href="/">
            <div class="iconbox_wrapper">
                <div class="icon_title_wrap">
                    <div class="ico"><img src="/static/proyecto/img/icons/icon8.png" class="icon_def" width="80" height="80" alt=""><img src="/static/proyecto/img/retina/icons/icon8.png" class="icon_retina" width="80" height="80" alt=""></div>
                    <h5 class="iconbox_title">Cuenta Verificada Correctamente</h5>
                </div>
                <div class="iconbox_body">
                    <p>Ahora puede ingresar al proyecto, diríjase al home de del sitio web dando click aqui.</p>
                </div>
            </div>
		</a>
	</div>
</div>
{% endblock content %} {% block js %}
<script type="text/javascript">
jQuery(document).ready(function() {
    "use strict";
    $('.tagline').addClass('hide');
});
</script>
{% endblock js %}
