{% extends "base.html" %} {% load static %} {% block css %} {% endblock css %} {% block content %}
<div class="breadcrumbs">
    <div class="container">
        <a href="/">Home</a><span>/</span><a href="#;">User</a><span>/</span>Servicio
        <h1 class="title-page">Resetar Contraseña</h1>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="content_block row no-sidebar">
            <div class="fl-container">
                <div class="posts-block">
                    <div class="contentarea">
                        <div class="row">
                            <div  id='msg-res' class="col-sm-offset-4 col-sm-4 module_cont pb20 module_messageboxes animate fadeInLeft hide" data-anim-type="fadeInLeft" data-anim-delay="250">
                                <div class="module_content shortcode_messagebox box_type4">
                                    <div class="box_content">
                                        <p><span class="box_icon"><i class="icon-thumbs-o-up"></i></span>Su contraseña ha sido actualizada, por favor dirijase a la pagina de inicio e intente logearse nuevamente.</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div id="pass_no_igual" class="col-sm-offset-4 col-sm-4 module_cont pb20 module_messageboxes animate fadeInRight hide" data-anim-type="fadeInRight" data-anim-delay="250">
                                <div class="module_content shortcode_messagebox box_type5">
                                    <div class="box_content">
                                        <p><span class="box_icon"><i class="icon-warning"></i></span>Las contraseñas ingresadas no son iguales.</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <center><i id="espera-res" class="hide fa fa-spinner fa-pulse fa-3x fa-fw"></i></center><br>
                        </div>
                        <div class="col-sm-offset-4 col-sm-4">
                            <form id="form-reset" class="m-t" role="form" onsubmit="return validarPasswd()">{% csrf_token %}
                                <input class="form-control hide" placeholder="Password" name="code" id="code" value = '{{code}}'>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" name="cont0" id="cont0" required="">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" name="cont1" id="cont1" required="">
                                </div>
                                <button type="submit" class="btn btn-primary block full-width m-b">
                                    <span>Aceptar</span>
                                </button>
                            </form>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %} 
{% block js %}
    <script src="/static/js/reset.js"></script>
{% endblock js %}